<template>
    <v-flex>
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation
        >
            <v-card
                    flat
            >
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="4" md="6" lg="3">
                                <v-text-field
                                        v-model="userInfoItem.id"
                                        label="ID*"
                                        required
                                        outlined
                                        readonly
                                        disabled
                                        prepend-icon="person"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="5" md="6" lg="4">
                                <v-text-field
                                        v-model="userInfoItem.username"
                                        label="회사 이름*"
                                        required
                                        outlined
                                        prepend-icon="business"
                                        :error-messages="nameErrors"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="5" md="6" lg="3"
                                   class="ml-md">
                                <v-text-field
                                        v-model="userInfoItem.phone"
                                        label="담당자 전화번호* (' ㅡ ' 포함)"
                                        prepend-icon="call"
                                        required
                                        outlined
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="5" md="6" lg="4">
                                <v-text-field
                                        v-model="userInfoItem.email"
                                        label="담당자 이메일*"
                                        required
                                        outlined
                                        prepend-icon="email"
                                        :error-messages="emailErrors"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="pb-10">
                                <v-btn color="indigo" dark @click="submit">저장</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>* 필수 입력 항목</small>
                </v-card-text>
            </v-card>
        </v-form>
    </v-flex>
</template>

<script>
    import CrudButton from '../../button/Button'
    import { mapState, mapActions } from 'vuex'
    import { required, email, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'
    import axios from 'axios'

    const isPhone = (value) => /^\d{3}-\d{3,4}-\d{4}$/.test(value)

    export default {
        name: 'UserInfoForm',
        data() {
            return {
                userInfoItem: {
                    id: '',
                    username: '',
                    phone: '',
                    email: '',
                    regDate: ''
                },
                valid: false,
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
        },

        validations: {
            userInfoItem: {
                username: { required, minLength: minLength(4), maxLength: maxLength(30) },
                phone: { required, isPhone },
                email: { required, email },
            },
        },

        created() {
            this.getUserInfo()
        },

        computed: {
            ...mapState(['dataList', 'userInfo', 'clickedItem', 'userInfoPage']),
            nameErrors () {
                const errors = []
                if (!this.$v.userInfoItem.username.$dirty) return errors
                !this.$v.userInfoItem.username.maxLength && errors.push('회사 이름은 최대 30글자까지 가능합니다')
                !this.$v.userInfoItem.username.minLength && errors.push('회사 이름은 최소 4글자부터 가능합니다')
                !this.$v.userInfoItem.username.required && errors.push('회사 이름은 필수 입력입니다')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.userInfoItem.email.$dirty) return errors
                !this.$v.userInfoItem.email.required && errors.push('이메일은 필수 입력입니다')
                !this.$v.userInfoItem.email.email && errors.push('이메일 형식이 아닙니다')
                return errors
            },
            phoneErrors () {
                const errors = []
                if (!this.$v.userInfoItem.phone.$dirty) return errors
                !this.$v.userInfoItem.phone.required && errors.push('전화번호는 필수 입력입니다')
                !this.$v.userInfoItem.phone.isPhone && errors.push('전화번호 형식이 아닙니다')
                return errors
            },
        },

        mixins: [
            validationMixin
        ],

        components: {
            'CrudButton': CrudButton,
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'getUserInfo',
                    'pressUserInfoPage',
                    'pushClickedItem',
                    'openAlertBox',
                ]),

            submit () {
                // stop here if form is invalid
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }

                this.save()
            },

            save () {
                axios.put(`/api/user/${this.userInfoItem.id}`, this.userInfoItem)
                    .then(response => {
                        this.openAlertBox([
                            'success',
                            '정보 변경 완료'
                        ])
                        this.getUserInfo()
                        location.reload()
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    })
            }
        },

        watch: {
            userInfo (val) {
                if (val) {
                    this.userInfoItem = this.userInfo
                }
            }
        }


    }
</script>

<style>
</style>