<template>
    <v-flex>
        <v-form
                lazy-validation
        >
            <v-card
                    flat
            >
                <v-card-title>
                    비밀번호 확인
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="5" md="4" lg="3">
                                <v-text-field
                                        v-model="userInfoItem.password"
                                        label="비밀번호*"
                                        required
                                        prepend-icon="mdi-lock"
                                        counter
                                        outlined
                                        placeholder=" "
                                        type="password"
                                        @keydown.enter="submit"
                                        :error-messages="passwordErrors"
                                ></v-text-field>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col class="pb-10">
                                <v-btn color="indigo" dark @click="submit">확인</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>* 필수 입력 항목</small>
                </v-card-text>
            </v-card>
        </v-form>
    </v-flex>
</template>

<script>
    import CrudButton from '../../button/Button'
    import { mapState, mapActions } from 'vuex'
    import { required, minLength, maxLength } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'
    import axios from 'axios'

    export default {
        name: 'UserPasswordForm',
        data() {
            return {
                userInfoItem: {
                    id: '',
                    password: '',
                },
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
        },

        validations: {
            userInfoItem: {
                password: { required, minLength: minLength(8), maxLength: maxLength(20) },
            },
        },

        created() {
            this.getUserInfo(this.tableName + `/${ localStorage.getItem('user') }`)
        },

        computed: {
            ...mapState(['dataList', 'userInfo', 'clickedItem', 'userPasswordDialog']),
            passwordErrors () {
                const errors = []
                if (!this.$v.userInfoItem.password.$dirty) return errors
                !this.$v.userInfoItem.password.maxLength && errors.push('비밀번호는 최대 20글자까지 가능합니다')
                !this.$v.userInfoItem.password.minLength && errors.push('비밀번호는 최소 8글자부터 가능합니다')
                !this.$v.userInfoItem.password.required && errors.push('비밀번호는 필수 입력입니다')
                return errors
            },
            confirmPasswordErrors () {
                const errors = []
                if (!this.$v.userInfoItem.confirmPassword.$dirty) return errors
                !this.$v.userInfoItem.confirmPassword.sameAsPassword && errors.push('동일한 비밀번호가 아닙니다')
                !this.$v.userInfoItem.confirmPassword.required && errors.push('비밀번호는 필수 입력입니다')
                return errors
            },
        },

        mixins: [
            validationMixin
        ],

        components: {
            'CrudButton': CrudButton,
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'getUserInfo',
                    'pressUserPasswordButton',
                    'pushClickedItem',
                    'openAlertBox',
                ]),

            submit () {
                // stop here if form is invalid
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }

                this.confirm()
            },

            confirm () {
                axios.put(`/api/user/passwd/${ this.userInfoItem.id }`, this.userInfoItem)
                    .then(response => {
                        console.log(response.data.message)
                        this.pressUserPasswordButton(true)
                    })
                    .catch(error => {
                        console.log(error)
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    })
                this.getUserInfo(this.tableName + `/${ localStorage.getItem('user') }`)
            }
        },

        watch: {
            userInfo (val) {
                if (val) {
                    this.userInfoItem.id = this.userInfo.id
                }
            },

            userPasswordDialog (val) {
                if (!val) {
                    this.userInfoItem.password = ''
                    this.$v.userInfoItem.$reset()
                }
            }
        }


    }
</script>

<style>
</style>