<template>
    <v-flex>
        <v-card flat>
            <!-- Data Table -->
            <v-data-table
                    :headers="headers"
                    :items="dataList"
                    :search="search"
                    :page.sync="pagination.page"
                    :items-per-page="pagination.itemsPerPage"
                    @page-count="pagination.pageCount = $event"
                    :key="dataList.regDate"
                    :loading="loading"
                    no-data-text="조회된 데이터가 없습니다."
                    hide-default-footer
                    dense
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-col md="3">
                            <v-text-field class="md-2"
                                          v-model="search"
                                          append-icon="search"
                                          label="검색"
                                          single-line
                                          hide-details
                            >
                            </v-text-field>
                        </v-col>
                        <v-col class="requestBtn" align="right">
                            <crud-button
                                    color="green"
                                    @clicked="requestLicense"
                                    :isIcon="false"
                                    dark
                                    :text="'발급 요청'"
                            ></crud-button>
                        </v-col>
                    </v-toolbar>
                </template>
                <template v-slot:item.state="{ item }">
                    <v-chip
                            small
                            dark
                            :color="statusColorSelector(item)"
                    >
                        {{ item.status }}
                    </v-chip>
                </template>
                <template v-slot:item.project="{ item }">
                    <v-menu
                            offset-y
                            bottom
                            nudge-left="100"
                            nudge-top="60"
                            open-on-hover
                    >
                        <template v-slot:activator="{ on }">
                            <v-chip
                                    v-if="item.projectName != ''"
                                    v-on="on"
                                    small
                                    color="grey lighten-3"
                            >
                                {{ item.projectName }}
                            </v-chip>
                        </template>
                        <v-card width="330" style="font-size: 12px">
                            <v-list dark>
                                <v-list-item>
                                    <v-list-item-content>담당자 이름 :</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item.projectAdminName }}
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>담당자 번호 :</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item.projectAdminPhone }}
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>담당자 이메일 :</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item.projectAdminEmail}}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>

                        </v-card>
                    </v-menu>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-menu
                            offset-y
                            bottom
                            nudge-left="320"
                            nudge-top="86"
                    >
                        <template v-slot:activator="{ on }">
                            <v-btn
                                    v-on="on"
                                    color="grey darken-2"
                                    dark
                                    icon
                                    x-small
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-row>
                                <v-btn
                                        v-if="(item.type == '기간' && item.processStatus == '없음' && item.status != '만료' && item.status != '폐기')"
                                        color="grey lighten-2"
                                        @click="updateItem(item)"
                                >
                                    <v-icon small>mdi-refresh</v-icon>
                                    갱신
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        v-if="item.flag == 'Y'"
                                        color="grey lighten-2"
                                        @click="openLicense(item)"
                                >
                                    <v-icon
                                            small
                                    >mdi-eye
                                    </v-icon>
                                    보기
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        v-if="item.flag == 'Y' && item.processStatus == '없음'"
                                        color="grey lighten-2"
                                        @click="disposalItem(item)"
                                >
                                    <v-icon small>mdi-delete</v-icon>
                                    폐기
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        v-if="item.processStatus != '없음'"
                                        color="grey lighten-2"
                                        @click="cancelItem(item)"
                                >
                                    <v-icon small>mdi-close</v-icon>
                                    취소
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        v-if="item.status != '발급 요청'"
                                        color="grey lighten-2"
                                        @click="showHistoryItem(item)"
                                >
                                    <v-icon small>mdi-book-outline</v-icon>
                                    기록
                                </v-btn>
                            </v-row>
                        </v-card>
                    </v-menu>
                </template>
            </v-data-table>
        </v-card>
        <div class="text-center pt-4">
            <v-pagination v-model="pagination.page" :length="pagination.pageCount"></v-pagination>
        </div>

    </v-flex>
</template>

<script>
    import CrudButton from '../../button/Button'
    import {mapState, mapActions} from 'vuex'
    import axios from 'axios'

    export default {
        name: 'CrudTable',
        data() {
            return {
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 15,
                    totalItems: 0,
                    pageCount: 0,
                },
                search: '',
                expanded: [],
                flat: true,
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
            headers: {
                type: Array,
                default: []
            },
        },

        created() {
            this.dataListClear([])
            this.getDataList(this.tableName + `/${localStorage.getItem('user')}`)
        },

        computed: {
            ...mapState([
                'dataList',
                'licenseHistoryList',
                'loading',
                'isRequesting',
                'isEditting',
                'isShowLicense',
                'deleteMode',
                'licenseMode',
                'userInfo',
                'clickedItem',
                'items',
                'showUserLicenseHistoryDialog'
            ]),

        },

        components: {
            'CrudButton': CrudButton,
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'dataListClear',
                    'getLicenseHistoryList',
                    'pressRequestButton',
                    'pressShowLicenseButton',
                    'pressEditButton',
                    'pushClickedItem',
                    'pushRequesting',
                    'pushEditting',
                    'pushDeleteMode',
                    'pushLicenseMode',
                    'pushShowLicense',
                    'openAlertBox',
                    'getUserIdList',
                    'getClientNameList',
                    'getProductNameList',
                    'pressUserLicenseHistoryButton',
                    'pushShowUserLicenseHistory'
                ]),

            requestLicense() {
                this.pressRequestButton(true)
                this.pushRequesting(true)
                this.pushLicenseMode(true)

            },

            disposalItem(item) {
                confirm('정말로 폐기 요청 하시겠습니까?') && this.removeData(item)
            },

            removeData(item) {
                this.pushDeleteMode(true)
                item.status = '폐기 요청'
                item.processStatus = '미승인'
                axios.put(`/api/license/update`, item)
                    .then(response => {
                        this.pushDeleteMode(false);
                        this.openAlertBox([
                            'success',
                            '폐기 요청 완료'
                        ])
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    })
            },

            updateItem(item) {
                this.pressEditButton(true)
                this.pushEditting(true)
                this.pushClickedItem(item)
            },

            openLicense(item) {
                this.pressShowLicenseButton(true)
                this.pushShowLicense(true)
                this.pushClickedItem(item)
            },

            cancelItem(item) {
                confirm('정말로 요청을 취소 하시겠습니까?') && this.cancel(item)
            },

            cancel(item) {
                this.pushDeleteMode(true);
                axios.put(`/api/license/cancel`, item)
                    .then(response => {
                        this.pushDeleteMode(false)
                        this.openAlertBox([
                            'success',
                            '취소 완료'
                        ])
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    })
            },

            statusColorSelector(item) {
                if (item.status == '발급 요청') {
                    return 'indigo'
                } else if (item.status == '갱신 요청') {
                    return 'yellow darken-2'
                } else if (item.status == '폐기 요청') {
                    return 'red darken-2'
                } else if (item.status == '정상') {
                    return 'green darken-1'
                } else if (item.status == '만료') {
                    return 'red darken-3'
                } else if (item.status == '폐기') {
                    return 'red darken-1'
                } else if (item.status == '예약') {
                    return 'grey darken-1'
                }
            },

            showHistoryItem(item) {
                this.pressUserLicenseHistoryButton(true)
                this.pushShowUserLicenseHistory(true)
                this.pushClickedItem(item)
            },

        },


        watch: {
            isRequesting(val) {
                if (!val) {
                    this.getDataList(this.tableName + `/${localStorage.getItem('user')}`)
                }
            },

            isEditting(val) {
                if (!val) {
                    this.getDataList(this.tableName + `/${localStorage.getItem('user')}`)
                }
            },

            deleteMode(val) {
                if (!val) {
                    this.getDataList(this.tableName + `/${localStorage.getItem('user')}`)
                }
            },

            licenseMode(val) {
                if (val) {
                    this.getUserIdList()
                    this.getClientNameList()
                    this.getProductNameList()
                }
            },

        }
    }
</script>

<style>
    #app {
        position: relative;
        left: 0px;
        box-sizing: border-box;
    }
</style>