<template>
    <v-flex>
        <!-- CRUD Table -->
        <crud-table
                :tableName="tableName"
                :headers="headers"
        ></crud-table>

        <!-- Create Dialog -->
        <create-dialog
                :max-width="width"
                :dialog-title="createDialogTitle"
        ></create-dialog>

        <!-- Edit Dialog -->
        <edit-dialog
                :max-width="width"
                :dialog-title="editDialogTitle"
        ></edit-dialog>

        <!-- Alert Box -->
        <alert-box></alert-box>

    </v-flex>
</template>

<script>
    import CrudTable from '@/components/tables/Admin/CrudTable'
    import AlertBox from '@/components/dialog/AlertBox'
    import CreateDialog from '@/components/dialog/Admin/product/CreateProductDialog'
    import EditDialog from '@/components/dialog/Admin/product/EditProductDialog'

    export default {
        name: 'Product',
        data() {
            return {
                tableName: 'product',
                headers: [
                    {text: '제품이름', align: 'left', value: 'name'},
                    {text: '버전', align: 'left', value: 'latestVersion'},
                    {text: '편집', align: 'center', value: 'action', sortable: false}],
                width: 500,
                createDialogTitle: '제품 추가',
                editDialogTitle: '제품 수정'
            }
        },
        created() {
        },
        components: {
            'CrudTable' : CrudTable,
            'CreateDialog' : CreateDialog,
            'EditDialog' : EditDialog,
            'AlertBox' : AlertBox
        },
        methods: {
        },
    }
</script>

<style>
</style>