<template>
    <v-content>
        <v-container
                fill-height
                fluid>
            <v-layout
                    align-center
                    justify-center>
                <v-flex
                        xs12
                        sm8
                        md4>
                    <v-card
                            class="elevation-3"
                            width="400"
                    >
                        <v-toolbar
                                color="general">
                            <v-toolbar-title
                            >O K E S T R O</v-toolbar-title>
                            <v-spacer/>
                        </v-toolbar>
                        <v-card-text>
                            <v-form>
                                <v-text-field
                                        v-model="id"
                                        prepend-icon="mdi-account"
                                        label="ID"
                                        required
                                        @change="idValidCheck"
                                        :error-messages="idErrors"
                                />
                                <v-text-field
                                        v-model="password"
                                        :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                                        :type="showPassword ? 'text' : 'password'"
                                        prepend-icon="mdi-lock"
                                        label="비밀번호"
                                        counter
                                        required
                                        @change="passwordValidCheck"
                                        @keydown.enter="submit"
                                        @click:append="showPassword = !showPassword"
                                        :error-messages="passwordErrors"
                                />
                            </v-form>
                        </v-card-text>
                        <v-divider class="mt-5"/>
                        <v-card-actions>
                            <v-btn
                                    align-center
                                    justify-center
                                    color="general"
                                    @click="signup">회원가입
                            </v-btn>
                            <v-spacer/>
                            <v-btn
                                    small
                                    text
                                    @click="resetPassword"
                            >
                                비밀번호를 잊어버렸을 경우
                            </v-btn>
                            <v-spacer/>
                            <v-btn
                                    align-center
                                    justify-center
                                    color="general"
                                    @click="submit">로그인
                            </v-btn>
                        </v-card-actions>
                        <v-snackbar
                                v-model="snackbar"
                                :color="color"
                                :top='true'
                                :timeout="timeout"
                        >
                            {{ errorMessages }}
                            <v-btn
                                    dark
                                    text
                                    @click="snackbar = false"
                            >
                                Close
                            </v-btn>
                        </v-snackbar>
                    </v-card>
                </v-flex>
            </v-layout>

        </v-container>
        <signup-dialog
                :dialog-title="title"
        ></signup-dialog>
        <reset-password-dialog
                :dialog-title="ResetTitle"
        ></reset-password-dialog>
    </v-content>
</template>

<script>
    import SignupDialog from "./dialog/User/info/SignupDialog";
    import ResetPasswordDialog from "./dialog/User/info/UserResetPasswordDialog";
    import { mapActions} from 'vuex'
    import { required } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'

    export default {
        data () {
            return {
                id: '',
                password: '',
                color: 'general',
                showPassword: false,
                snackbar: false,
                errorMessages: '',
                title: '회원가입',
                ResetTitle: '패스워드 초기화',
                tableName: 'user',
                timeout: 1800,
            }
        },

        computed: {
            idErrors () {
                const errors = [];
                if (!this.$v.id.$dirty) return errors;
                !this.$v.id.required && errors.push('ID 입력은 필수입니다');
                return errors
            },
            passwordErrors () {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('비밀번호 입력은 필수입니다');
                return errors
            },
        },

        validations: {
            id: { required },
            password: { required }
        },

        mixins: [
            validationMixin
        ],

        components: {
            'SignupDialog' : SignupDialog,
            'ResetPasswordDialog' : ResetPasswordDialog
        },
        // Sends action to Vuex that will log you in and redirect to the dash otherwise, error
        methods: {
            ...mapActions(['pressSignupButton', 'pressResetPasswordButton']),

            submit () {
                // stop here if form is invalid
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }
                this.login()
            },

            login () {
                let id = this.id;
                let password = this.password;
                this.$store.dispatch('login', { id, password })
                    .then(() => {
                        this.$router.push('/home').catch(err => {})

                    })
                    .catch(err => {
                        console.log(err.response.data.message);
                        this.snackbar = true
                        this.errorMessages = '잘못된 로그인 정보입니다'
                    })
            },

            signup () {
                this.pressSignupButton(true)
            },

            idValidCheck () {
                if (this.id == '') {
                    this.$v.id.$reset()
                }
            },

            passwordValidCheck () {
                if (this.password == '') {
                    this.$v.password.$reset()
                }
            },

            resetPassword () {
                this.pressResetPasswordButton(true)
            }

        },
        metaInfo () {
            return {
                title: 'Passaggio'
            }
        }
    }
</script>
