<template>
     <v-dialog
            v-model="createDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            width="500"
            persistent
     >
        <v-card>
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="close">mdi-close</v-icon>
            </v-system-bar>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="5">
                            <v-select
                                    :items="['공공', '민간', '금융', '해외']"
                                    v-model="createItem.category"
                                    label="고객 분류*"
                                    required
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="7">
                            <v-text-field
                                    v-model="createItem.name"
                                    label="회사명(한글 전체 입력)*"
                                    required
                                    hint="한글, 특수문자 입력 가능"
                                    @input="typingCheck"
                                    @change="valueCheck"
                                    @keydown.enter="duplicationCheck"
                                    :error-messages="nameErrors"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                class="pt-6">
                            <v-btn
                                    depressed
                                    :disabled="nameDisabled"
                                    @click="duplicationCheck"
                            >
                                중복체크
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-icon
                                    v-if="duplicationChecked"
                                    large
                                    class="pt-3"
                                    color="green accent-3"
                            >mdi-check-circle-outline</v-icon>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field
                                    v-model="createItem.ename"
                                    label="회사 영문명*"
                                    required
                                    :error-messages="enameErrors"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field v-model="createItem.phone" label="담당자 전화번호"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field v-model="createItem.email" label="담당자 이메일"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <small>* 필수 입력 항목</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">취소</v-btn>
                <v-btn color="blue darken-1" dark @click="submit">등록</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import DialogMixin from '../../../mixins/dialogMixin'
    import { mapState } from 'vuex'
    import axios from 'axios'
    import { required } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'

    const isAlphabet = (value) => /^[a-zA-Z\s]*$/.test(value)
    const isKorean = (value) => /^[가-힣~!@#$%^&*()_+|<>?:{}\s]*$/.test(value)

    export default {
        name: 'CreateClientDialog',
        data() {
            return {
                createItem: {
                    id: '',
                    code: '',
                    name: '',
                    ename: '',
                    phone: '',
                    email: '',
                    category: '',
                    regDate: '',
                    flag: 'Y',
                },
                defaultItem: {
                    id: '',
                    code: '',
                    name: '',
                    ename: '',
                    phone: '',
                    email: '',
                    category: '',
                    regDate: '',
                    flag: 'Y',
                },
                isDuplication: false,
                duplicationChecked: false,
                nameDisabled: false,
            }
        },

        mixins: [
            DialogMixin,
            validationMixin
        ],

        validations: {
            createItem: {
                name: { required, isKorean },
                ename: { required, isAlphabet },
            },
        },
        props: {
            dialogTitle: {
                type: String,
                default: '발급'
            },
            maxWidth: {
                type: Number,
                default: 600
            }
        },

        created () {
            this.clear()
        },

        computed: {
            ...mapState(['createDialog']),
            nameErrors () {
                const errors = [];
                if (!this.$v.createItem.name.$dirty) return errors
                !this.$v.createItem.name.required && errors.push('한글 이름은 필수 입력입니다')
                !this.$v.createItem.name.isKorean && errors.push('한글만 입력해주세요')
                this.isDuplication && errors.push('이름이 중복입니다')
                return errors
            },
            enameErrors () {
                const errors = []
                if (!this.$v.createItem.ename.$dirty) return errors
                !this.$v.createItem.ename.required && errors.push('영어 이름은 필수 입력입니다')
                !this.$v.createItem.ename.isAlphabet && errors.push('영어로 입력해주세요')
                return errors
            },
        },

        methods: {

            valueCheck () {
                this.$v.createItem.name.$touch()
                if (this.$v.createItem.name.$invalid) {
                    this.nameDisabled = true
                }
                else {
                    this.nameDisabled = false
                }
            },

            typingCheck () {
                this.duplicationChecked = false
                this.nameDisabled = false
                this.$v.createItem.name.$reset()
                this.isDuplication = false
            },

            duplicationCheck () {
                this.$v.createItem.name.$touch()

                if( this.$v.createItem.name.$invalid) {
                    return
                }

                axios.get(`/api/client/dupCheck/${this.createItem.name}`)
                    .then(response => {
                        this.duplicationChecked = true
                        this.openAlertBox([
                            'info',
                            response.data.message
                        ]);
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ]);
                        this.isDuplication = true
                        this.duplicationChecked = false
                    })

            },

            submit () {
                if(!this.duplicationChecked && alert('중복 체크를 해주시기 바랍니다')) {
                    return
                }
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }
                this.save()
            },

            save () {
                axios.post(`/api/client`, this.createItem)
                    .then(() => {
                        this.openAlertBox([
                            'success',
                            '생성 완료',
                        ]);
                        this.close()
                        this.pushCreating(false)
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    });
            },

            close () {
                setTimeout(() => {
                    this.clear()
                }, 100)
                this.pressCreateButton(false);
            },

            clear () {
                this.$v.createItem.name.$reset()
                this.$v.createItem.ename.$reset()
                this.isDuplication = false
                this.nameDisabled = false
                this.duplicationChecked = false
                this.createItem = Object.assign({}, this.defaultItem)
            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            },
        }
    }
</script>

<style scoped>

</style>