<template>
  <v-flex>
    <!-- CRUD Table -->
    <history-table
            :tableName="tableName"
            :headers="headers"
            :dense="dense"
    ></history-table>
    <!-- Request Show Dialog -->
    <license-request-dialog
            :max-width="width"
            :dialog-title="DialogTitle"
    ></license-request-dialog>

    <!-- Alert Box -->
    <alert-box></alert-box>

  </v-flex>
</template>

<script>
  import HistoryTable from '@/components/tables/Admin/HistoryTable'
  import LicenseRequestDialog from '@/components/dialog/Admin/license/Requests/ShowLicenseRequest'
  import AlertBox from '@/components/dialog/AlertBox'

  export default {
    name: 'userRejectedRequests',
    data() {
      return {
        tableName: 'user/admin/history/process/반려',
        dense: true,
        pagination: {
          descending: true,
          page: 1,
          itemsPerPage: 5,
          totalItems: 0,
          pageCount: 0,
        },
        headers: [
          {text: '요청분류', align: 'center', value: 'state', sortable: false},
          {text: '사용자ID', align: 'left', value: 'id'},
          {text: '사용자명', align: 'left', value: 'username'},
          {text: '전화번호', align: 'left', value: 'phone'},
          {text: '이메일', align: 'left', value: 'email'},
          {text: '요청일시', align: 'left', value: 'reqDate'},
          {text: '처리일시', align: 'left', value: 'regDate'},
          ],
        width: 500,
        DialogTitle: '요청 세부 정보',
      }
    },
    created() {
    },
    components: {
      'HistoryTable' : HistoryTable,
      'AlertBox' : AlertBox,
      'LicenseRequestDialog' : LicenseRequestDialog
    },
    methods: {
    },
  }
</script>

<style>
</style>