<template>
  <v-flex>
    <!-- CRUD Table -->
    <request-table
            :tableName="tableName"
            :headers="headers"
            :dense="dense"
    ></request-table>
    <!-- Request Show Dialog -->
    <request-process-dialog
            :max-width="width"
            :dialog-title="dialogTitle"
    >

    </request-process-dialog>
    <!-- Alert Box -->
    <alert-box></alert-box>

  </v-flex>
</template>

<script>
  import RequestTable from '@/components/tables/Admin/RequestTable'
  import RequestProcessDialog from '@/components/dialog/Admin/user/Requests/RequestProcessDialog'
  import AlertBox from '@/components/dialog/AlertBox'

  export default {
    name: 'userUnapprovedRequests',
    data() {
      return {
        tableName: 'user/admin/process/미승인',
        dense: true,
        headers: [
          {text: '요청분류', align: 'center', value: 'state', sortable: false},
          {text: '사용자ID', align: 'left', value: 'id'},
          {text: '사용자명', align: 'left', value: 'username'},
          {text: '전화번호', align: 'left', value: 'phone'},
          {text: '이메일', align: 'left', value: 'email'},
          {text: '비고', align: 'left', value: 'request'},
          {text: '요청일시', align: 'left', value: 'regDate'},
          {text: '처리', align: 'center', value: 'action', sortable: false}
          ],
        width: 240,
        dialogTitle: '요청 처리 확인',
      }
    },
    created() {
    },
    components: {
      'RequestTable' : RequestTable,
      'AlertBox' : AlertBox,
      'RequestProcessDialog' : RequestProcessDialog
    },
    methods: {
    },
  }
</script>

<style>
</style>