<template>
  <v-flex>
    <!-- CRUD Table -->
    <crud-table
            :tableName="tableName"
            :headers="headers"
    ></crud-table>

    <!-- Create Dialog -->
    <create-dialog
            :max-width="width"
            :dialog-title="createDialogTitle"
    ></create-dialog>

    <!-- Edit Dialog -->
    <edit-dialog
            :max-width="width"
            :dialog-title="editDialogTitle"
    ></edit-dialog>

    <list-dialog
            :max-width="listWidth"
            :dialog-title="listDialogTitle"
    ></list-dialog>
    <!-- Alert Box -->
    <alert-box></alert-box>

  </v-flex>
</template>

<script>
  import CrudTable from '@/components/tables/Admin/CrudTable'
  import AlertBox from '@/components/dialog/AlertBox'
  import CreateDialog from '@/components/dialog/Admin/user/CreateUserDialog'
  import EditDialog from '@/components/dialog/Admin/user/EditUserDialog'
  import ListDialog from '@/components/dialog/Admin/user/ShowUserLicenseListDialog'

  export default {
    name: 'Users',
    data() {
      return {
        tableName: 'user/admin',
        headers: [
          {text: '상태',     align: 'center',   value: 'state'},
          {text: 'ID',     align: 'left',   value: 'id'},
          {text: '이름',     align: 'left',   value: 'username'},
          {text: '전화번호', align: 'left',   value: 'phone'},
          {text: '이메일',   align: 'left',   value: 'email'},
          {text: '등록일시',   align: 'left',   value: 'regDate'},
          {text: '사용여부',   align: 'center',   value: 'flag'},
          {text: '편집',     align: 'center', value: 'action', sortable: false}],
        width: 500,
        listWidth: 1500,
        createDialogTitle: '사용자 추가',
        editDialogTitle: '사용자 수정',
        listDialogTitle: '라이센스 목록'
      }
    },
    created() {
    },
    components: {
      'CrudTable' : CrudTable,
      'CreateDialog' : CreateDialog,
      'EditDialog' : EditDialog,
      'ListDialog' : ListDialog,
      'AlertBox' : AlertBox
    },
    methods: {
    },
  }
</script>

<style>
</style>