<template>
    <v-dialog
            v-model="resetPasswordDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-flex>
            <v-card
                    flat
            >
                <v-system-bar window color="grey lighten-4">
                    <span>{{ dialogTitle }}</span>
                    <v-spacer></v-spacer>
                    <v-icon @click="close">mdi-close</v-icon>
                </v-system-bar>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="6" md="10" lg="10">
                            <v-text-field
                                    v-model="id"
                                    label="ID"
                                    required
                                    outlined
                                    prepend-icon="person"
                                    placeholder=" "
                                    :error-messages="idErrors"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="10" lg="10">
                            <v-text-field
                                    v-model="email"
                                    label="이메일"
                                    required
                                    outlined
                                    placeholder=" "
                                    prepend-icon="mdi-email"
                                    @keydown.enter="submit"
                                    :error-messages="emailErrors"
                            ></v-text-field>
                        </v-col>

                    </v-row>

                    <v-col align="right">
                        <v-btn color="indigo" dark @click="submit">확인</v-btn>
                    </v-col>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-dialog>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import { required } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'
    import axios from 'axios'

    export default {
        name: 'ResetPasswordDialog',
        data() {
            return {
                id: '',
                email: '',

            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: ''
            },
            maxWidth: {
                type: Number,
                default: 400
            }
        },

        validations: {
            id: { required },
            email: { required }
        },

        created() {

        },

        computed: {
            ...mapState(['resetPasswordDialog']),
            idErrors () {
                const errors = []
                if (!this.$v.id.$dirty) return errors
                !this.$v.id.required && errors.push('ID는 필수 입력입니다')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.email.$dirty) return errors
                !this.$v.email.required && errors.push('이메일은 필수 입력입니다')
                return errors
            },
        },

        mixins: [
            validationMixin
        ],

        methods: {
            ...mapActions(
                [
                    'pressResetPasswordButton',
                    'openAlertBox',
                ]),

            submit () {
                // stop here if form is invalid
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }

                this.save()
            },

            save () {
                axios.post(`/email/send/${ this.id }/${ this.email }`)
                    .then(response => {
                        alert(response.data.message)
                        this.close()
                    })
                    .catch(error => {
                        alert(error.response.data.message)
                    })
            },

            close () {
                this.pressResetPasswordButton(false)

                this.$v.$reset()
                setTimeout(() => {
                    this.id = ''
                    this.email = ''
                }, 200)

            }
        },

        watch: {
            resetPasswordDialog (val) {
                if (val) {
                    this.id = ''
                    this.email = ''
                }
            }
        }


    }
</script>

<style>
</style>