<template>
    <v-flex>
        <!-- CRUD Table -->
        <crud-table
                :tableName="tableName"
                :headers="headers"
        ></crud-table>

        <!-- Create Dialog -->
        <create-dialog
                :max-width="width"
                :dialog-title="createDialogTitle"
        ></create-dialog>

        <!-- Edit Dialog -->
        <edit-dialog
                :max-width="width"
                :dialog-title="editDialogTitle"
        ></edit-dialog>

        <!-- Alert Box -->
        <alert-box></alert-box>

    </v-flex>
</template>

<script>
    import CrudTable from '@/components/tables/Admin/CrudTable'
    import AlertBox from '@/components/dialog/AlertBox'
    import CreateDialog from '@/components/dialog/Admin/client/CreateClientDialog'
    import EditDialog from '@/components/dialog/Admin/client/EditClientDialog'

    export default {
        name: 'Client',
        data() {
            return {
                tableName: 'client',
                headers: [
                    {text: '코드', align: 'left', value: 'code'},
                    {text: '이름', align: 'left', value: 'name'},
                    {text: '영문이름', align: 'left', value: 'ename'},
                    {text: '분류', align: 'left', value: 'category'},
                    {text: '전화번호', align: 'left', value: 'phone'},
                    {text: '이메일', align: 'left', value: 'email'},
                    {text: '등록일시', align: 'left', value: 'regDate'},
                    {text: '사용여부', align: 'center', value: 'flag'},
                    {text: '편집', align: 'center', value: 'action', sortable: false}],
                width: 600,
                createDialogTitle: '고객사 추가',
                editDialogTitle: '고객사 수정'
            }
        },
        created() {
        },
        components: {
            'CrudTable' : CrudTable,
            'CreateDialog' : CreateDialog,
            'EditDialog' : EditDialog,
            'AlertBox' : AlertBox
        },
        methods: {
        },
    }
</script>

<style>
</style>