<template>
    <v-flex>
        <v-card flat>
            <!-- Data Table -->
            <v-data-table
                    :headers="headers"
                    :items="dataList"
                    :search="search"
                    :page.sync="pagination.page"
                    :items-per-page="pagination.itemsPerPage"
                    @page-count="pagination.pageCount = $event"
                    :key="dataList.id"
                    :dense="dense"
                    :loading="loading"
                    no-data-text="조회된 데이터가 없습니다."
                    hide-default-footer
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-col md="3">
                            <v-text-field class="md-2"
                                          v-model="search"
                                          append-icon="search"
                                          label="검색"
                                          single-line
                                          hide-details
                            >
                            </v-text-field>
                        </v-col>
                        <v-col class="createBtn" align="right">
                            <crud-button
                                    small
                                    color="green"
                                    @clicked="createItem"
                                    :isIcon="false"
                                    icon="add"
                                    dark
                            />
                        </v-col>
                    </v-toolbar>
                </template>
                <template v-slot:item.state="{ item }">
                    <v-chip
                            small
                            dark
                            :color="statusColorSelector(item)"
                    >
                        {{ item.status }}
                    </v-chip>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-menu
                            offset-y
                            bottom
                            nudge-left="320"
                            nudge-top="86"
                    >
                        <template v-slot:activator="{ on }">
                            <v-btn
                                    v-on="on"
                                    color="grey darken-2"
                                    dark
                                    icon
                                    x-small
                            >
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-row>
                                <v-btn
                                        color="grey lighten-2"
                                        @click="editItem(item)"
                                >
                                    <v-icon small>mdi-pencil</v-icon>
                                    수정
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        color="grey lighten-2"
                                        @click="deleteItem(item)"
                                >
                                    <v-icon small>mdi-delete</v-icon>
                                    삭제
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        v-if="tableName == 'user/admin'"
                                        color="grey lighten-2"
                                        @click="showItem(item)"
                                >
                                    <v-icon small>list</v-icon>
                                    목록
                                </v-btn>
                            </v-row>
                            <v-row>
                                <v-btn
                                        v-if="tableName == 'license/admin'"
                                        color="grey lighten-2"
                                        @click="openLicense(item)"
                                >
                                    <v-icon
                                            small
                                    >mdi-eye
                                    </v-icon>
                                    보기
                                </v-btn>
                            </v-row>
                        </v-card>
                    </v-menu>
                </template>
            </v-data-table>
        </v-card>
        <div class="text-center pt-4">
            <v-pagination v-model="pagination.page" :length="pagination.pageCount"></v-pagination>
        </div>

    </v-flex>
</template>

<script>
    import CrudButton from '../../button/Button'
    import { mapState, mapActions } from 'vuex'
    import axios from 'axios'

    export default {
        name: 'CrudTable',
        data() {
            return {
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 15,
                    totalItems: 0,
                    pageCount: 0,
                },
                search: '',
                flat: true
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
            headers: {
                type: Array,
                default: []
            },
            dense: {
                type: Boolean,
                default: true
            }
        },

        created() {
            this.dataListClear([])
            this.getDataList(this.tableName)
        },

        computed: {
            ...mapState(['dataList', 'loading', 'isCreating', 'isRequesting', 'isEditting', 'deleteMode', 'licenseMode'])
        },

        components: {
            'CrudButton': CrudButton
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'dataListClear',
                    'pressCreateButton',
                    'pressRequestButton',
                    'pressEditButton',
                    'pressUserLicenseListButton',
                    'pressShowLicenseButton',
                    'pushClickedItem',
                    'pushClickedSecondItem',
                    'pushCreating',
                    'pushRequesting',
                    'pushEditting',
                    'pushShowUserLicenseList',
                    'pushShowLicense',
                    'pushDeleteMode',
                    'pushLicenseMode',
                    'openAlertBox',
                    'getUserIdList',
                    'getProductNameList',
                    'getClientNameList',
                ]),

            createItem () {
                if (this.tableName == 'license/admin') {
                    this.pressRequestButton(true)
                    this.pushLicenseMode(true)
                    this.pushRequesting(true)
                }
                else {
                    this.pressCreateButton(true)
                    this.pushCreating(true)
                }

            },

            editItem (item) {
                this.pushClickedItem(item);
                this.pressEditButton(true);
                this.pushEditting(true);
                if (this.tableName == 'license/admin') {
                    this.pushLicenseMode(true)
                }
            },

            deleteItem (item) {
                const index = this.dataList.indexOf(item);
                let payload = {tableName: this.tableName, id: this.dataList[index].id};
                confirm('정말로 삭제하시겠습니까?') && this.removeData(payload)
            },

            showItem(item) {
                this.pushClickedSecondItem(item);
                this.pressUserLicenseListButton(true);
                this.pushShowUserLicenseList(true);
            },

            openLicense(item) {
                this.pressShowLicenseButton(true)
                this.pushShowLicense(true)
                this.pushClickedItem(item)
            },

            removeData (payload) {
                this.pushDeleteMode(true);
                if(payload.tableName != 'client') {
                    axios.delete(`/api/${ payload.tableName }/${ payload.id }`)
                        .then(response => {
                            this.pushDeleteMode(false);
                            this.openAlertBox([
                                'success',
                                '삭제 완료'
                            ])
                        })
                        .catch(error => {
                            this.openAlertBox([
                                'error',
                                error.response.data.message
                            ])
                        })
                }
                else {
                    axios.delete(`/api/${ payload.tableName }/admin/${ payload.id }`)
                        .then(response => {
                            this.pushDeleteMode(false);
                            this.openAlertBox([
                                'success',
                                '삭제 완료'
                            ])
                        })
                        .catch(error => {
                            this.openAlertBox([
                                'error',
                                error.response.data.message
                            ])
                        })
                }

            },

            statusColorSelector(item) {
                if(item.status == '발급 요청') {
                    return 'indigo'
                }
                else if(item.status == '갱신 요청') {
                    return 'yellow darken-2'
                }
                else if(item.status == '폐기 요청') {
                    return 'red darken-2'
                }
                else if(item.status == '정상') {
                    return 'green darken-1'
                }
                else if(item.status == '만료') {
                    return 'red darken-3'
                }
                else if(item.status == '폐기') {
                    return 'red darken-2'
                }
                else if(item.status == '예약') {
                    return 'blue darken-2'
                }
            },
        },

        watch: {
            isCreating (val) {
                if (!val) {
                    this.getDataList(this.tableName);
                }
            },

            isRequesting (val) {
                if (!val) {
                    this.getDataList(this.tableName);
                }
            },

            isEditting (val) {
                if (!val) {
                    this.getDataList(this.tableName);
                }
            },

            deleteMode (val) {
                if (!val) {
                    this.getDataList(this.tableName);
                }
            },

            licenseMode (val) {
                if (val) {
                    this.getUserIdList();
                    this.getClientNameList();
                    this.getProductNameList();
                }
            }
        }
    }
</script>

<style>
</style>