<template>
    <v-flex>
        <v-card flat>
            <!-- Data Table -->
            <v-data-table
                    :headers="headers"
                    :items="dataList"
                    :search="search"
                    :page.sync="pagination.page"
                    :items-per-page="pagination.itemsPerPage"
                    @page-count="pagination.pageCount = $event"
                    :key="dataList.status"
                    :dense="dense"
                    :loading="loading"
                    no-data-text="조회된 데이터가 없습니다."
                    hide-default-footer
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-col md="3">
                            <v-text-field class="md-2"
                                          v-model="search"
                                          append-icon="search"
                                          label="검색"
                                          single-line
                                          hide-details
                            >
                            </v-text-field>
                        </v-col>
                    </v-toolbar>
                </template>
                <template v-slot:item.state="{ item }">
                    <v-chip
                            small
                            dark
                            :color="statusColorSelector(item)"
                    >
                        {{ item.status }}
                    </v-chip>
                </template>
                <template v-slot:item.process="{ item }">
                    <v-chip
                            small
                            dark
                            :color="processColorSelector(item)"
                    >
                        {{ item.processStatus }}
                    </v-chip>
                </template>
                <template v-slot:item.action="{ item }">
                    <crud-button
                            small
                            color="blue darken-1"
                            @clicked="showItem(item)"
                            icon="mdi-book-outline"
                            :isIcon="true"
                            :tooltip="'보기'"
                    />
                </template>
            </v-data-table>
        </v-card>
        <div class="text-center pt-4">
            <v-pagination v-model="pagination.page" :length="pagination.pageCount"></v-pagination>
        </div>

    </v-flex>
</template>

<script>
    import CrudButton from '../../button/Button'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: 'CrudTable',
        data() {
            return {
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 5,
                    totalItems: 0,
                    pageCount: 0,
                },
                search: '',
                flat: true
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
            headers: {
                type: Array,
                default: []
            },
            dense: {
                type: Boolean,
                default: true
            }
        },

        created() {
            this.dataListClear([])
            this.getDataList(this.tableName)
        },

        mounted() {

        },

        computed: {
            ...mapState(['dataList', 'loading', 'isShowRequesting']),
        },

        components: {
            'CrudButton': CrudButton
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'dataListClear',
                    'pressShowRequestButton',
                    'pushClickedItem',
                    'pushRequestProcessing',
                    'openAlertBox',
                ]),

            statusColorSelector(item) {
                if(item.status == '발급 요청') {
                    return 'indigo'
                }
                else if(item.status == '갱신 요청') {
                    return 'yellow darken-2'
                }
                else if(item.status == '폐기 요청') {
                    return 'red darken-2'
                }
                else if(item.status == '정상') {
                    return 'green darken-1'
                }
                else if(item.status == '만료') {
                    return 'red darken-3'
                }
            },

            showItem (item) {
                if(item.request == 'user') {
                    this.pushClickedItem(item);
                    this.pressShowRequestButton(true);
                    this.pushRequestProcessing(true)
                }
                else {
                    this.pushClickedItem(item);
                    this.pressShowRequestButton(true);
                    this.pushRequestProcessing(true)
                }
            },
        },

    }
</script>

<style>
    .createBtn {
        padding-top: 0px;
        padding-bottom: 0px;
        color: black;
    }
</style>