<template>
    <v-flex>
        <v-card flat>
            <!-- Data Table -->
            <v-data-table
                    :headers="headers"
                    :items="dataList"
                    :search="search"
                    :page.sync="pagination.page"
                    :items-per-page="pagination.itemsPerPage"
                    @page-count="pagination.pageCount = $event"
                    :key="dataList.id"
                    :dense="dense"
                    :loading="loading"
                    no-data-text="조회된 데이터가 없습니다."
                    hide-default-footer

            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-col md="3">
                            <v-text-field class="md-2"
                                          v-model="search"
                                          append-icon="search"
                                          label="검색"
                                          single-line
                                          hide-details
                            >
                            </v-text-field>
                        </v-col>
                    </v-toolbar>
                </template>
                <template v-slot:item.state="{ item }">
                    <v-chip
                            small
                            dark
                            :color="statusColorSelector(item)"
                    >
                        {{ item.status }}
                    </v-chip>
                </template>
                <template v-slot:item.action="{ item }">
                    <crud-button
                            small
                            color="green darken-1"
                            @clicked="accept(item)"
                            icon="mdi-check"
                            :isIcon="true"
                            :tooltip="'승인'"
                    />
                    <crud-button
                            small
                            color="red darken-1"
                            @clicked="reject(item)"
                            icon="mdi-close"
                            :isIcon="true"
                            :tooltip="'반려'"
                    />
                </template>
            </v-data-table>
        </v-card>
        <div class="text-center pt-4">
            <v-pagination v-model="pagination.page" :length="pagination.pageCount"></v-pagination>
        </div>
    </v-flex>
</template>

<script>
    import CrudButton from '../../button/Button'
    import { mapState, mapActions } from 'vuex'

    export default {
        name: 'RequestTable',
        data() {
            return {
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 15,
                    totalItems: 0,
                    pageCount: 0,
                },
                search: '',
                flat: true,
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
            headers: {
                type: Array,
                default: []
            },
            dense: {
                type: Boolean,
                default: true
            },
        },

        created() {
            this.dataListClear([])
            this.getDataList(this.tableName)
        },

        mounted() {

        },

        computed: {
            ...mapState(['dataList', 'loading', 'isShowRequesting', 'isRequestProcessing']),
        },

        components: {
            'CrudButton': CrudButton
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'dataListClear',
                    'pressShowRequestButton',
                    'pressRequestProcessButton',
                    'pressRequestProcessType',
                    'pushClickedItem',
                    'pushRequestProcessing',
                    'openAlertBox',
                ]),

            showItem (item) {
                this.pushClickedItem(item);
                if(item.request == 'user') {
                    this.pressRequestProcessButton(true);
                    this.pushRequestProcessing(true)
                }
                else {
                    this.pressShowRequestButton(true);
                    this.pushRequestProcessing(true)
                }
            },

            statusColorSelector(item) {
                if(item.status == '발급 요청') {
                    return 'primary darken-2'
                }
                else if(item.status == '갱신 요청') {
                    return 'yellow darken-3'
                }
                else if(item.status == '폐기 요청') {
                    return 'red darken-3'
                }
                else if(item.status == '가입 요청') {
                    return 'brown darken-1'
                }
            },

            accept(item) {
                this.pushClickedItem(item);
                if(item.request == 'user') {
                    this.pressRequestProcessButton(true);
                    this.pressRequestProcessType('승인');
                    this.pushRequestProcessing(true)
                }
                else {
                    this.pressShowRequestButton(true);
                    this.pushRequestProcessing(true)
                }

            },

            reject(item) {
                this.pushClickedItem(item);
                if(item.request == 'user') {
                    this.pressRequestProcessButton(true);
                    this.pressRequestProcessType('반려');
                    this.pushRequestProcessing(true)
                }
                else {
                    this.pressShowRequestButton(true);
                    this.pushRequestProcessing(true)
                }

            }

        },

        watch: {
            isShowRequesting (val) {
                if (!val) {
                    this.getDataList(this.tableName);
                    console.log('watch!! ShowRequest Update!!')
                }
            },

            isRequestProcessing (val) {
                if (!val) {
                    this.getDataList(this.tableName);
                    console.log('watch!! ShowUserRequest Update!!')
                }
            },

        }
    }
</script>

<style>
    .createBtn {
        padding-top: 0px;
        padding-bottom: 0px;
        color: black;
    }
</style>