<template>
    <div
            @click="click()"
    >
    <v-navigation-drawer
            id="app-drawer"
            v-model="isDisplayed"
            permanent
            :mini-variant="sidebarMini"
            :class="sidebarColor"
            :dark="sidebarDark"
            class="main-sidebar"
            fixed
            app
    >
        <router-link :to="titleLink" style="text-decoration:none">
            <v-toolbar
                v-if="title !== ''"
                :color="titleColor"
                flat
            >
                <v-list>
                    <v-list-item style="padding: 0;">
                        <v-list-item-avatar
                            v-if="showLogo"
                            :size="logoSize"
                            style="min-width: 70px; width: 70px; margin-top: 20px; padding-right: 20px; "
                            tile
                        >
                            <img
                                v-if="showLogo"
                                :src="require(`@/assets/images/${logo}`)"
                                class="logo"
                            >
                        </v-list-item-avatar>
                        <v-list-item-title
                            class="title"
                            :class="titleDark ? 'white--text' : 'black--text'"
                            style="margin-top: 10px;"
                        >
                            {{ title }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-toolbar>
        </router-link>

        <v-divider></v-divider>

        <v-list class="pa-1" :class="`${navColor}--text`">
            <v-list-item
                    v-if="sidebarMini"
                    :ripple="false"
                    @click.stop="toggleLock"
            >
                <v-list-item-action>
                    <v-icon :color="navColor">
                        chevron_right
                    </v-icon>
                </v-list-item-action>
            </v-list-item>
            <v-list-item
                    v-if="!sidebarMini"
            >
                <slot name="nav"></slot>
                <v-list-item-action v-if="isAppLarge">
                    <v-btn icon @click.stop="toggleLock">
                        <v-icon :color="navColor">
                            chevron_left
                        </v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>
        </v-list>
        <v-list dense>
            <div v-if="adminmode">
                <template v-for="(item) in items[0].adminItems">
                    <v-list-group
                            v-model="item.active"
                            :key="item.title"
                            :prepend-icon="item.icon"
                            :active-class="sidebarDark ? 'white--text' : 'black--text'"
                            @click="sideOpen"
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title
                                    style="font-size: 15px"
                                >
                                    {{ item.title }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <template v-if="!sidebarMini">
                            <v-list-item v-for="(child, i) in item.children" :key="i" :to="item.to + child.to" exact>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{ child.title }}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-group>
                </template>
            </div>
            <div v-else-if="usermode">
                <template v-for="(item) in items[1].userItems">
                    <v-list-group
                            v-model="item.active"
                            :key="item.title"
                            :prepend-icon="item.icon"
                            :active-class="sidebarDark ? 'white--text' : 'black--text'"
                            @click="sideOpen"
                    >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title
                                        style="font-size: 15px"
                                >
                                    {{ item.title }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <template v-if="!sidebarMini">
                            <v-list-item v-for="(child, i) in item.children" :key="i" :to="item.to + child.to" exact>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{ child.title }}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-group>
                </template>
            </div>
        </v-list>
    </v-navigation-drawer>
    </div>
</template>

<script>
    // Utilities
    import {
        mapMutations,
        mapGetters,
        mapState
    } from 'vuex'

    export default {
        props: {
            opened: {
                type: Boolean,
                default: false
            }
        },

        data: () => ({
            items: [
                {
                    adminItems:[
                        {
                            title: '라이센스', icon: 'book', to: '/license', active: false,
                            children: [
                                {title: '전체 목록', icon: '', to: '/management'},
                                {title: '미승인', icon: '', to: '/unapprove'},
                                {title: '승인',   icon: '', to: '/approve'},
                                {title: '반려',   icon: '', to: '/reject'},
                            ]
                        },
                        {
                            title: '사용자', icon: 'people', to: '/user', active: false,
                            children: [
                                {title: '전체 목록', icon: '', to: '/management'},
                                {title: '미승인', icon: '', to: '/unapprove'},
                                {title: '승인',   icon: '', to: '/approve'},
                                {title: '반려',   icon: '', to: '/reject'},
                            ]
                        },
                        {
                            title: '고객', icon: 'insert_emoticon', to: '/client', active: false,
                            children: [
                                {title: '전체 목록', icon: '', to: '/management'},
                            ]
                        },
                        // {
                        //     title: '제품', icon: 'wb_cloudy', to: '/product', active: false,
                        //     children: [
                        //         {title: '전체 목록', icon: '', to: '/management'},
                        //     ]
                        // },
                        {
                            title: '내 정보', icon: 'account_box', to: '/adminInfo', active: false,
                            children: [
                                {title: '정보 변경', icon: '', to: '/info'},
                                {title: '비밀번호 변경', icon: '', to: '/passwd'},
                            ]
                        }
                    ],
                },
                {
                    userItems:[
                        {
                            title: '라이센스', icon: 'book', to: '/user', active: false,
                            children: [
                                {title: '목록', icon: '', to: '/license'},
                            ]
                        },
                        {
                            title: '내 정보', icon: 'account_box', to: '/userInfo', active: false,
                            children: [
                                {title: '정보 변경', icon: '', to: '/info'},
                                {title: '비밀번호 변경', icon: '', to: '/passwd'},
                            ]
                        }
                    ],
                },
            ],

            locked: false,
            active: false,
            groupOpen: false,
            logo: 'okestro_logo2.png',
            title: 'OKESTRO',
            subTitle: 'Passagio',
            titleColor: 'white',
            titleDark: false,
            titleLink: '/home',
            navColor: 'black',
            showLogo: true,
            logoSize: 40,
            sidebarColor: 'grey lighten-4',
            sidebarDark: false,
            expandOn: 'mouseover',
            setSidebarMini: false,
            expanded: true,
            isDisplayed: true,
        }),

        computed: {
            ...mapState('app', ['image', 'color']),
            ...mapGetters(['adminmode', 'usermode']),
            inputValue: {
                get() {
                    return this.$store.state.app.drawer
                },
                set(val) {
                    this.setDrawer(val)
                }
            },
            sidebarMini () {
                return !this.isAppLarge ? false : !this.expanded
            },
            isAppLarge () {
                return [
                    'xl',
                    'lg',
                ]
            },
        },

        methods: {
            ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
            toggleLock () {
                this.locked = !this.locked;
                localStorage.setItem('sidebarLocked', this.locked);
                this.expanded = this.locked
            },

            click () {
                if (this.sidebarMini && this.expandOn === 'click' && !this.locked && this.isAppLarge) {
                    this.expanded = true
                }
            },

            sideOpen () {
                if (!this.expanded) {
                    this.locked = !this.locked;
                    this.expanded = this.locked
                }
            }
        },

        watch: {
            expanded (val) {
                if (!val) {
                    for (const item of this.items[0].adminItems) {
                        item.active = false
                    }
                    for (const item of this.items[1].userItems) {
                        item.active = false
                    }
                }
            },
        },
    }
</script>

<style>
    .groupItem {
        font-size: 15px;
    }
</style>
