<template>
    <v-app-bar
            id="core-toolbar"
            app
            flat
            color="cyan darken-4"
    >
        <div class="v-toolbar-title" style="height: 40px; min-height: 40px">
            <v-toolbar-title style="margin-top: 6px;">
                <div class="title-font">{{ title }}</div>
            </v-toolbar-title>
        </div>

        <v-spacer/>
        <v-toolbar-items>
            <v-flex
                    align-center
                    layout
                    py-2
                    px-3
            >
                <!--<v-menu-->
                        <!--bottom-->
                        <!--left-->
                        <!--content-class="dropdown-menu"-->
                        <!--offset-y-->
                        <!--transition="slide-y-transition">-->
                    <!--<template v-slot:activator="{ on }">-->
                        <!--<v-badge-->
                                <!--color="error"-->
                                <!--overlap-->
                        <!--&gt;-->
                            <!--<template slot="badge">-->
                                <!--{{ notifications.length }}-->
                            <!--</template>-->
                            <!--<v-btn-->
                                    <!--v-on="on"-->
                                    <!--icon-->
                                    <!--small-->
                            <!--&gt;-->
                            <!--<v-icon color="white">mdi-bell</v-icon>-->
                            <!--</v-btn>-->
                        <!--</v-badge>-->
                    <!--</template>-->
                    <!--<v-card>-->
                        <!--<v-list dense>-->
                            <!--<v-list-item-->
                                    <!--v-for="notification in notifications"-->
                                    <!--:key="notification"-->
                                    <!--@click="onClick"-->
                            <!--&gt;-->
                                <!--<v-list-item-title-->
                                        <!--v-text="notification"-->
                                <!--/>-->
                            <!--</v-list-item>-->
                        <!--</v-list>-->
                    <!--</v-card>-->
                <!--</v-menu>-->

                <!--                :nudge-width="200"-->
                <v-flex
                    layout
                    px-2></v-flex>
                <v-menu
                        :close-on-content-click="false"
                        v-model="menu"
                        offset-y
                >
                    <template v-slot:activator="{ on }">
                        <v-btn
                                v-on="on"
                                icon
                                small
                                class="mr-1"
                        >
                            <v-icon color="white">mdi-power</v-icon>
                        </v-btn>
                    </template>
                    <v-card>
                        <v-btn @click="logout">Logout</v-btn>
                    </v-card>
                </v-menu>
            </v-flex>
        </v-toolbar-items>
    </v-app-bar>
</template>

<script>

    import { mapMutations } from 'vuex'
    import axios from 'axios'

    export default {
        data: () => ({
            notifications: [
                'You\'re now a friend with Andrew',
                'Another Notification',
                'Another One'
            ],
            title: null,
            responsive: false,
            menu: false,
            noMargin: true,
        }),

        watch: {
            '$route'(val) {
                this.title = val.name
            }
        },

        mounted() {
            this.onResponsiveInverted();
            window.addEventListener('resize', this.onResponsiveInverted)
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.onResponsiveInverted)
        },

        methods: {
            ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
            onClickBtn() {
                this.setDrawer(!this.$store.state.app.drawer)
            },
            onClick() {

            },

            logout() {
                this.$store.dispatch('logout')
            },

            onResponsiveInverted() {
                if (window.innerWidth < 991) {
                    this.responsive = true
                } else {
                    this.responsive = false
                }
            }
        },

    }
</script>

<style>
    #core-toolbar a {
        text-decoration: none;
    }

    .title-font {
        color: #e0f7fa;
        font-family: "Arial";
        font-size: 20px;
        font-weight: bold;
    }
</style>
