<template>
  <v-flex>
    <admin-info-form
            :tableName="tableName"
    >
    </admin-info-form>

    <!-- Alert Box -->
    <alert-box></alert-box>
  </v-flex>
</template>

<script>
  import AdminInfoForm from '@/components/tables/Admin/AdminInfoForm'
  import AlertBox from '@/components/dialog/AlertBox'


  export default {
    name: 'AdminInfo',

    data() {
      return {
        tableName: 'user/admin',
      }
    },

    created() {
    },

    components: {
      'AdminInfoForm' : AdminInfoForm,
      'AlertBox' : AlertBox
    },

    methods: {
    },
  }
</script>

<style>
</style>