<template>
  <v-flex>
    <admin-password-form
            :tableName="tableName"
    >
    </admin-password-form>
    <admin-password-dialog>
            :dialog-title="adminPasswordDialogTitle"
    </admin-password-dialog>
    <!-- Alert Box -->
    <alert-box></alert-box>
  </v-flex>
</template>

<script>
  import AdminPasswordForm from '@/components/tables/Admin/AdminPasswordForm'
  import AdminPasswordDialog from '@/components/dialog/Admin/info/AdminPasswordChangeDialog'
  import AlertBox from '@/components/dialog/AlertBox'


  export default {
    name: 'AdminPassword',

    data() {
      return {
        tableName: 'user',
        adminPasswordDialogTitle: '비밀번호 변경'
      }
    },

    created() {
    },

    components: {
      'AdminPasswordForm' : AdminPasswordForm,
      'AdminPasswordDialog' : AdminPasswordDialog,
      'AlertBox' : AlertBox
    },

    methods: {
    },
  }
</script>

<style>
</style>