<template>
    <v-dialog
            v-model="showLicenseDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-system-bar window color="grey lighten-4">
            <span>{{ dialogTitle }}</span>
            <v-spacer></v-spacer>
            <v-icon @click="close">mdi-close</v-icon>
        </v-system-bar>

        <v-card
                flat
                tile>
            <v-card-text
                    style="font-size:18px; padding-bottom:0px; padding-top: 15px"
            >
                <textarea style="width: 470px; height: 290px; resize: none;" readonly>{{ clickedItem.contentRead }}</textarea>
            </v-card-text>

            <v-card-actions>
                <v-col align="right" style="padding-top: 0px">
                    <crud-button
                            x-large
                            color="orange darken-1"
                            @clicked="download"
                            icon="mdi-arrow-collapse-down"
                            :isIcon="true"
                    />
                </v-col>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import CrudButton from '@/components/button/Button'
    import * as fileUtil from '@/utils/fileUtils'
    import axios from 'axios'
    export default {
        name: "ShowLicenseFile",
        data () {
            return {
                clickedItem: {
                    content:'',
                    contentRead: '',
                },
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '수정'
            },
            maxWidth: {
                type: Number,
                default: 500
            }
        },

        computed: {
            ...mapState(['showLicenseDialog', 'item']),
        },

        components: {
            'CrudButton' : CrudButton
        },

        methods: {
            ...mapActions(['pressShowLicenseButton', 'pushShowLicense']),
            close () {
                this.pressShowLicenseButton(false)
                this.pushShowLicense(false)
            },

            download () {
                axios({
                    url: `/api/license/file/${ this.clickedItem.id }`,
                    method: 'GET',
                    responseType: 'blob', // important
                }).then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", this.clickedItem.product.name + '.lic');
                    document.body.appendChild(link);
                    link.click();
                    link.parentNode.removeChild(link);
                });
            },

            bin2String(array) {
                var result = "";
                for (var i = 0; i < array.length; i++) {
                    result += String.fromCharCode(parseInt(array[i], 2));
                }
                return result;
            },
        },

        watch: {
            showLicenseDialog (val) {
                if (val) {
                    this.clickedItem = Object.assign({}, this.item)
                }
            }
        }
    }
</script>

<style scoped>

</style>