<template>
    <v-dialog
            v-model="showUserLicenseHistoryDialog"
            :title="dialogTitle"
            persistent
            @click:outside="close"
    >
        <v-system-bar window color="grey lighten-4">
            <span>{{ dialogTitle }}</span>
            <v-spacer></v-spacer>
            <v-icon @click="close">mdi-close</v-icon>
        </v-system-bar>
        <v-card flat
                tile
                width="3000"
        >
            <v-data-table
                    :headers="historyHeaders"
                    :items="historyList"
                    :items-per-page="pagination.itemsPerPage"
                    :page.sync="pagination.page"
                    @page-count="pagination.pageCount = $event"
                    fixed-header
                    dense
                    hide-default-footer
            >
            </v-data-table>

        </v-card>
    </v-dialog>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import axios from 'axios'
    export default {
        name: "ShowUserLicenseHistoryDialog",
        data () {
            return {
                historyList: [],
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 10,
                    totalItems: 0,
                    pageCount: 0,
                },
                historyHeaders: [
                    {text: '요청분류', align: 'center', value: 'status', sortable: false},
                    {text: '사용자ID', align: 'left', value: 'userId'},
                    {text: '사용자명', align: 'left', value: 'userName'},
                    {text: '발급고객', align: 'left', value: 'clientName'},
                    {text: '제품', align: 'left', value: 'productName'},
                    {text: '만료일자', align: 'left', value: 'expDate'},
                    {text: '구분', align: 'left', value: 'type'},
                    {text: '요청일시', align: 'left', value: 'reqDate'},
                    {text: '처리일시', align: 'left', value: 'regDate'},
                    {text: '처리 상태', align: 'center', value: 'processStatus', sortable: false},
                ]
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '요청 정보'
            },
            maxWidth: {
                type: Number,
                default: 1000
            },
            tableName: {
                type: String
            }
        },

        computed: {
            ...mapState(['showUserLicenseHistoryDialog', 'item']),
        },

        created () {
        },

        methods: {
            ...mapActions(['pressUserLicenseHistoryButton', 'pushShowUserLicenseHistory']),

            close () {
                this.pressUserLicenseHistoryButton(false);
                this.pushShowUserLicenseHistory(false);
                this.historyList = []
            }
        },

        watch: {
            showUserLicenseHistoryDialog (val) {
                if (val) {
                    axios.get(`/api/license/history/lic/${ this.item.id }`)
                        .then(response => {
                            this.historyList = response.data;
                        })
                        .catch(error => {
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>