<template>
     <v-dialog
            v-model="editDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
     >
         <v-system-bar window color="grey lighten-4">
             <span>{{ dialogTitle }}</span>
             <v-spacer></v-spacer>
             <v-icon @click="close">mdi-close</v-icon>
         </v-system-bar>
         <v-card
                 tile>
             <v-card-title>
                 <span class="headline">추가 기간 선택</span>
             </v-card-title>

             <v-card-text>
                 <v-container>
                     <v-row  align="center">
                         <v-col md="5">
                             <v-select
                                     :items="['기간', '영구']"
                                     v-model="clickedItem.type"
                                     label="구분*"
                                     @change="typeSelected"
                                     required
                             ></v-select>
                         </v-col>
                         <v-col md="5">
                             <v-select
                                     :items="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                                     v-model="clickedItem.period"
                                     label="추가 기간 선택*"
                                     required
                                     :disabled="clickedItem.periodType"
                                     @change="periodSelected"
                             ></v-select>
                         </v-col>
                         <v-col md="5">
                             <v-label>
                                 갱신 전
                             </v-label>
                             <v-text-field
                                     v-model="tempDate"
                                     label="만료일자 변경전"
                                     required
                                     readonly
                                     solo
                             ></v-text-field>
                         </v-col>
                         <v-col>
                            <v-icon py="10">mdi-arrow-right</v-icon>
                         </v-col>
                         <v-col md="5">
                             <v-label>
                                 갱신 후
                             </v-label>
                             <v-text-field
                                     v-model="clickedItem.expDate"
                                     label="만료일자 변경후"
                                     required
                                     readonly
                                     solo
                             ></v-text-field>
                         </v-col>
                     </v-row>
                 </v-container>
             </v-card-text>

             <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn color="blue darken-1" text @click="save">저장</v-btn>
             </v-card-actions>
         </v-card>

    </v-dialog>
</template>

<script>
    import axios from 'axios'
    import { mapState, mapActions} from 'vuex'

    export default {
        name: 'UpdateLicenseDialog',
        data() {
            return {
                tempDate: '',
                clickedItem: {
                    expDate: '',
                },
                requestItem: {
                    regDate: '',
                    expDate: '',
                    type: '',
                    flag: '',
                    licenseKey: '',
                    projectName: '',
                    projectAdminName: '',
                    projectAdminPhone: '',
                    projectAdminEmail: '',
                    client: {
                        id: '',
                        name: '',
                        ename: '',
                        phone: '',
                        email: '',
                        category: '',
                        regDate: '',
                        flag: '',
                    },
                    clientId: '',
                    clientCode: '',
                    clientName: '',
                    userId: '',
                    userName: '',
                    productName: '',
                    productVersion: '',
                    product: {
                        name: '',
                    },
                    users: {
                        id: '',
                    },
                    status: '',
                    processStatus: '',
                    hostCount: 0,
                    request: '',
                    period: '0',
                    periodType: false,
                },
                defaultItem: {
                    regDate: '',
                    expDate: '',
                    type: '',
                    flag: '',
                    licenseKey: '',
                    projectName: '',
                    projectAdminName: '',
                    projectAdminPhone: '',
                    projectAdminEmail: '',
                    client: {
                        id: '',
                        name: '',
                        ename: '',
                        phone: '',
                        email: '',
                        category: '',
                        regDate: '',
                        flag: '',
                    },
                    clientId: '',
                    clientCode: '',
                    clientName: '',
                    userId: '',
                    userName: '',
                    productName: '',
                    productVersion: '',
                    product: {
                        name: '',
                    },
                    users: {
                        id: '',
                    },
                    status: '',
                    processStatus: '',
                    hostCount: 0,
                    request: '',
                    period: '0',
                    periodType: false,
                },
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '발급'
            },
            maxWidth: {
                type: Number,
                default: 600
            },
        },

        created () {
        },

        computed: {
            ...mapState(['editDialog', 'item']),
        },

        methods: {
            ...mapActions(['pressEditButton', 'pushEditting', 'openAlertBox']),

            typeSelected () {
                if (this.clickedItem.type == '영구') {
                    this.clickedItem.periodType = true;
                    this.clickedItem.expDate = '2999-12-31'
                } else {
                    this.clickedItem.periodType = false
                    this.periodSelected()
                }
            },

            periodSelected () {
                let year = this.tempDate.substring(0, 4)
                let month = this.tempDate.substring(5, 7)
                let day = this.tempDate.substring(8, 10)
                let tempdate = new Date(year, month, day)

                let expdate = new Date(tempdate.getFullYear() + parseInt(this.clickedItem.period), tempdate.getMonth() - 1, tempdate.getDate());
                this.tempDate = this.getFormatDate(new Date(tempdate.getFullYear(), tempdate.getMonth() - 1, tempdate.getDate()));
                this.clickedItem.expDate = this.getFormatDate(expdate);
                this.clickedItem.type = '기간'
            },

            getFormatDate (date) {
                let year = date.getFullYear();              // yyyy
                let month = (1 + date.getMonth());          // M
                month = month >= 10 ? month : '0' + month;   // month 두자리로 저장
                let day = date.getDate();                   // d
                day = day >= 10 ? day : '0' + day;          // day 두자리로 저장
                return  year + '-' + month + '-' + day
            },

            close () {
                this.pressEditButton(false);
                this.clickedItem.expDate = this.tempDate;
                setTimeout(() => {
                    this.requestItem = this.cloneObject(this.defaultItem)
                }, 100)
            },

            save () {
                this.requestItem.status = '갱신 요청'
                this.requestItem.processStatus = '미승인'
                this.requestItem.id = this.clickedItem.id
                this.requestItem.request = this.clickedItem.expDate

                axios.put(`/api/license/update`, this.requestItem)
                    .then(response => {
                        this.openAlertBox([
                            'success',
                            '갱신 요청 완료',
                        ])
                        this.pushEditting(false)
                        this.close()
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                        this.close()
                    })

            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            }
        },

        watch: {
            editDialog (val) {
                if (val) {
                    this.clickedItem = this.cloneObject(this.item)
                    this.tempDate = this.item.expDate
                }
            },

        }
    }
</script>

<style scoped>

</style>