<template>
    <v-dialog
            v-model="requestDialog"
            :title="dialogTitle"
            :width="maxWidth"
            :max-width="maxWidth"
            persistent
            scrollable
    >
        <v-card
                tile
                height="510"
        >
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="close">mdi-close</v-icon>
            </v-system-bar>
            <v-stepper v-model="e1" alt-labels>
                <v-stepper-header>
                    <template v-for="n in steps">
                        <v-stepper-step
                                :key="`${n}-step`"
                                :complete="e1 > n"
                                :step="n"
                        >
                            {{ titles[n - 1] }}
                        </v-stepper-step>
                        <v-divider
                                v-if="n !== steps"
                                :key="n"
                        ></v-divider>
                    </template>
                </v-stepper-header>
                <v-stepper-content step="1">
                    <v-card color="white" class="mb-2" width="500px" height="290" flat>
                        <v-row>
                            <v-col cols="12" sm="6" md="6">
                                <v-select
                                        :items="productNameList"
                                        v-model="requestItem.product.name"
                                        label="제품 선택*"
                                        required
                                        :error-messages="pdNameErrors"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-select
                                        :items="productVersionList[requestItem.product.name]"
                                        v-model="requestItem.productVersion"
                                        label="제품 버전*"
                                        required
                                        :error-messages="pdVersionErrors"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.model"
                                        label="모델*"
                                        required
                                        :error-messages="modelErrors"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.partNo"
                                        label="파트번호*"
                                        required
                                        :error-messages="partNoErrors"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.hostCount"
                                        label="호스트 수*"
                                        required
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card>
                    <v-col align="center">
                        <v-btn disabled text @click="">이전</v-btn>
                        <v-btn
                                dark
                                color="indigo"
                                @click="submit1"
                        >다음
                        </v-btn>
                    </v-col>
                </v-stepper-content>

                <v-stepper-content step="2">
                    <v-card color="white" class="mb-2" height="290" flat>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-select
                                        :items="['기간', '영구']"
                                        v-model="requestItem.type"
                                        label="구분*"
                                        required
                                        @change="typeSelected"
                                        :error-messages="typeErrors"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-select
                                        :items="['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"
                                        v-model="requestItem.period"
                                        label="기간 선택(년단위)*"
                                        required
                                        :disabled="requestItem.periodType"
                                        @change="periodSelected"
                                        :error-messages="periodErrors"
                                ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="5">
                                <v-menu
                                        v-model="menu"
                                        transition="scale-transition"
                                        offset-y
                                        :close-on-content-click="false"
                                        :nudge-right="80"
                                        min-width="290px"
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                                v-model="requestItem.stDate"
                                                label="시작일자"
                                                prepend-icon="event"
                                                required
                                                readonly
                                                v-on="on"
                                                :error-messages="stDateErrors"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="requestItem.stDate" @input="stDateSelected"></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.expDate"
                                        label="만료일자"
                                        required
                                        readonly
                                        outlined
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card>
                    <v-col align="center">
                        <v-btn text @click="e1 = 1">이전</v-btn>
                        <v-btn
                                dark
                                color="indigo"
                                @click="submit2"
                        >다음
                        </v-btn>
                    </v-col>
                </v-stepper-content>

                <v-stepper-content step="3">
                    <v-card color="white" class="mb-2" height="290" flat>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-text-field
                                        v-model="search"
                                        append-icon="search"
                                        label="검색"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4" style="padding: 6px;">
                                <v-text-field
                                        v-model="requestItem.user.username"
                                        label="선택된 사용자"
                                        required
                                        readonly
                                        placeholder=" "
                                        style="margin-top: 10px;"
                                        :error-messages="usernameErrors"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-card
                                width="600px"
                                flat
                        >
                            <v-card>
                                <v-data-table
                                        :headers="userHeader"
                                        :items="userList"
                                        :search="search"
                                        :items-per-page="pagination.itemsPerPage"
                                        :page.sync="pagination.page"
                                        @page-count="pagination.pageCount = $event"
                                        height="152"
                                        fixed-header
                                        dense
                                        no-data-text="조회된 데이터가 없습니다."
                                        @click:row="setUserName"
                                >
                                </v-data-table>
                            </v-card>
                        </v-card>

                    </v-card>
                    <v-col align="center">
                        <v-btn color="general" @click="e1 = 2">이전</v-btn>
                        <v-btn dark color="indigo darken-1" @click="submit3">다음</v-btn>
                    </v-col>
                </v-stepper-content>

                <v-stepper-content step="4">
                    <v-card color="white" class="mb-2" height="290" flat>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-text-field
                                        v-model="search"
                                        append-icon="search"
                                        label="검색"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="4" style="padding: 6px;">
                                <v-text-field
                                        v-model="requestItem.client.name"
                                        label="선택된 고객사"
                                        required
                                        readonly
                                        placeholder=" "
                                        style="margin-top: 10px;"
                                        :error-messages="cliNameErrors"
                                ></v-text-field>
                            </v-col>
                            <v-col align="center" cols="12" md="4" style="padding: 13px;">
                                <v-chip
                                        @click="createClient"
                                        dark
                                        label
                                        large
                                >
                                    <v-icon left>mdi-plus</v-icon>
                                    고객 추가
                                </v-chip>
                            </v-col>
                        </v-row>
                        <v-card
                                width="600px"
                                flat
                        >
                            <v-card>
                                <v-data-table
                                        :headers="clientHeader"
                                        :items="items"
                                        :search="search"
                                        :items-per-page="pagination.itemsPerPage"
                                        :page.sync="pagination.page"
                                        @page-count="pagination.pageCount = $event"
                                        height="152"
                                        fixed-header
                                        dense
                                        no-data-text="조회된 데이터가 없습니다."
                                        @click:row="setClientName"
                                >
                                </v-data-table>
                            </v-card>
                        </v-card>

                    </v-card>
                    <v-col align="center">
                        <v-btn color="general" @click="e1 = 3">이전</v-btn>
                        <v-btn dark color="indigo darken-1" @click="submit4">다음</v-btn>
                    </v-col>
                </v-stepper-content>

                <v-stepper-content step="5">
                    <v-card color="white" class="mb-0" height="290" flat>
                        <v-row>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.projectName"
                                        label="프로젝트명"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.projectAdminName"
                                        label="담당자 이름"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.projectAdminPhone"
                                        label="담당자 전화번호"
                                        hint="(' ㅡ '포함)"
                                        @input="checkPhoneValid"
                                        :error-messages="phoneErrors"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                        v-model="requestItem.projectAdminEmail"
                                        label="담당자 이메일"
                                        @input="checkEmailValid"
                                        :error-messages="emailErrors"
                                        @keydown.enter="submit5"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-card>
                    <v-col align="center">
                        <v-btn color="general" @click="e1 = 4">이전</v-btn>
                        <v-btn dark color="green darken-1" @click="submit5">완료</v-btn>
                    </v-col>
                </v-stepper-content>
            </v-stepper>
        </v-card>
    </v-dialog>
</template>

<script>
    import axios from 'axios'
    import {mapState, mapActions} from 'vuex'
    import {required, email} from 'vuelidate/lib/validators'
    import {validationMixin} from 'vuelidate'

    const isPhone = (value) => /^\d{3}-\d{3,4}-\d{4}$/.test(value)
    const isAlphaNo = (value) => /^[a-zA-Z0-9\s]*$/.test(value)

    export default {
        name: 'CreateLicenseDialog',
        data() {
            return {
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 10,
                    totalItems: 0,
                    pageCount: 0,
                },
                clientHeader: [
                    {text: '분류', align: 'left', value: 'category'},
                    {text: '고객 코드', align: 'left', value: 'code'},
                    {text: '고객사 명', align: 'left', value: 'name'},
                ],
                userHeader: [
                    {text: 'ID', align: 'left', value: 'id'},
                    {text: '이름', align: 'left', value: 'username'},
                ],
                titles: ['제품', '기간', '사용자', '고객사', '프로젝트'],
                productVersionList: {},
                items: [],
                userList: [],
                productList: [],
                search: '',
                e1: 1,
                steps: 5,
                width: 600,
                createDialogTitle: '고객사 추가',
                menu: false,
                requestItem: {
                    status: '',
                    processStatus: '',
                    licenseKey: '',
                    regDate: '',
                    modDate: '',
                    stDate: this.getWorldTime(+9),
                    expDate: '',
                    type: '',
                    projectName: '',
                    projectAdminName: '',
                    projectAdminPhone: '',
                    projectAdminEmail: '',
                    flag: '',
                    hostCount: 0,
                    model: '',
                    partNo: '',
                    productVersion: '',
                    user: {
                        id: '',
                        username: '',
                    },
                    client: {
                        id: '',
                        name: '',
                        ename: '',
                        phone: '',
                        email: '',
                        category: '',
                        regDate: '',
                        flag: '',
                    },
                    product: {
                        name: '',
                        versions: []
                    },
                    period: '',
                    periodType: false,
                },
                defaultItem: {
                    status: '',
                    processStatus: '',
                    licenseKey: '',
                    regDate: '',
                    modDate: '',
                    stDate: this.getWorldTime(+9),
                    expDate: '',
                    type: '',
                    projectName: '',
                    projectAdminName: '',
                    projectAdminPhone: '',
                    projectAdminEmail: '',
                    flag: '',
                    hostCount: 0,
                    model: '',
                    partNo: '',
                    productVersion: '',
                    user: {
                        id: '',
                        username: '',
                    },
                    client: {
                        id: '',
                        name: '',
                        ename: '',
                        phone: '',
                        email: '',
                        category: '',
                        regDate: '',
                        flag: '',
                    },
                    product: {
                        name: '',
                        versions: []
                    },
                    period: '',
                    periodType: false,
                },

            }
        },

        mixins: [
            validationMixin
        ],

        validations: {
            requestItem: {
                product: {
                    name: {required},
                },
                type: {required},
                period: {required},
                stDate: {required},
                expDate: {required},
                client: {
                    name: {required}
                },
                user: {
                    username: {required}
                },
                productVersion: {required},
                projectAdminPhone: {isPhone},
                projectAdminEmail: {email},
                model: {required, isAlphaNo},
                partNo: {required, isAlphaNo},
            },
        },

        props: {
            dialogTitle: {
                type: String,
                default: '발급'
            },
            maxWidth: {
                type: Number,
                default: 600
            },
        },

        created() {
            this.clear()
            this.getClientList()
            this.getUserList()
            this.getProductList()
            this.getUserInfo()

        },

        computed: {
            ...mapState(['requestDialog', 'productNameList', 'clientNameList', 'userInfo', 'isCreating']),
            pdNameErrors() {
                const errors = [];
                if (!this.$v.requestItem.product.name.$dirty) return errors;
                !this.$v.requestItem.product.name.required && errors.push('제품 선택은 필수입니다');
                return errors
            },
            typeErrors() {
                const errors = [];
                if (!this.$v.requestItem.type.$dirty) return errors;
                !this.$v.requestItem.type.required && errors.push('구분 선택은 필수입니다');
                return errors
            },
            periodErrors() {
                const errors = [];
                if (!this.$v.requestItem.period.$dirty) return errors;
                !this.$v.requestItem.period.required && errors.push('기간 선택은 필수입니다');
                return errors
            },
            stDateErrors() {
                const errors = [];
                if (!this.$v.requestItem.stDate.$dirty) return errors;
                !this.$v.requestItem.stDate.required && errors.push('시작일자 선택은 필수입니다');
                return errors
            },
            cliNameErrors() {
                const errors = [];
                if (!this.$v.requestItem.client.name.$dirty) return errors;
                !this.$v.requestItem.client.name.required && errors.push('고객 선택은 필수입니다');
                return errors
            },
            emailErrors() {
                const errors = [];
                if (!this.$v.requestItem.projectAdminEmail.$dirty) return errors;
                !this.$v.requestItem.projectAdminEmail.email && errors.push('이메일 형식이 아닙니다');
                return errors
            },
            phoneErrors() {
                const errors = [];
                if (!this.$v.requestItem.projectAdminPhone.$dirty) return errors;
                !this.$v.requestItem.projectAdminPhone.isPhone && errors.push('전화번호 형식이 아닙니다');
                return errors
            },
            usernameErrors() {
                const errors = [];
                if (!this.$v.requestItem.user.username.$dirty) return errors;
                !this.$v.requestItem.user.username.required && errors.push('사용자 선택은 필수입니다');
                return errors
            },
            pdVersionErrors() {
                const errors = [];
                if (!this.$v.requestItem.productVersion.$dirty) return errors;
                !this.$v.requestItem.productVersion.required && errors.push('제품 버전 선택은 필수입니다');
                return errors
            },
            modelErrors() {
                const errors = [];
                if (!this.$v.requestItem.model.$dirty) return errors;
                !this.$v.requestItem.model.required && errors.push('모델 입력은 필수입니다');
                !this.$v.requestItem.model.isAlphaNo && errors.push('모델은 영, 숫자만 가능합니다');
                return errors
            },
            partNoErrors() {
                const errors = [];
                if (!this.$v.requestItem.partNo.$dirty) return errors;
                !this.$v.requestItem.partNo.required && errors.push('파트번호 입력은 필수입니다');
                !this.$v.requestItem.partNo.isAlphaNo && errors.push('파트번호는 영, 숫자만 가능합니다');
                return errors
            },

        },

        methods: {
            ...mapActions([
                'pressRequestButton',
                'pressCreateButton',
                'pushRequesting',
                'pushCreating',
                'openAlertBox',
                'getUserInfo'
            ]),

            submit1 () {
                    this.$v.requestItem.product.name.$touch()
                    this.$v.requestItem.productVersion.$touch()
                    this.$v.requestItem.model.$touch()
                    this.$v.requestItem.partNo.$touch()
                    if (this.$v.requestItem.product.name.$invalid || this.$v.requestItem.productVersion.$invalid || this.$v.requestItem.model.$invalid || this.$v.requestItem.partNo.$invalid) {
                        return
                    }

                    this.e1 += 1
                },

                submit2 () {
                    this.$v.requestItem.type.$touch()
                    this.$v.requestItem.period.$touch()
                    this.$v.requestItem.expDate.$touch()
                    if (this.$v.requestItem.type.$invalid || this.$v.requestItem.period.$invalid || this.$v.requestItem.expDate.$invalid) {
                        return
                    }

                    this.e1 += 1
            },

            submit3 () {
                this.$v.requestItem.user.username.$touch()
                if (this.$v.requestItem.user.username.$invalid) {
                    return
                }

                this.e1 += 1
            },

            submit4 () {
                this.$v.requestItem.client.name.$touch()
                if (this.$v.requestItem.client.name.$invalid) {
                    return
                }

                this.e1 += 1
            },

            submit5 () {
                this.$v.requestItem.projectAdminEmail.$touch()
                if (this.requestItem.projectAdminPhone != '') {
                    this.$v.requestItem.projectAdminPhone.$touch()
                    if (this.$v.requestItem.projectAdminPhone.$invalid) {
                        return
                    }
                }

                if (this.requestItem.projectAdminEmail != '') {
                    this.$v.requestItem.projectAdminEmail.$touch()
                    if (this.$v.requestItem.projectAdminEmail.$invalid) {
                        return
                    }
                }

                if (this.$v.requestItem.projectAdminEmail.$invalid) {
                    return
                }

                this.save()
            },

            checkPhoneValid () {
                this.$v.requestItem.projectAdminPhone.$reset()
            },

            checkEmailValid () {
                this.$v.requestItem.projectAdminEmail.$reset()
            },

            typeSelected () {
                if (this.requestItem.type == '영구') {
                    this.requestItem.periodType = true;
                    this.requestItem.expDate = '2999-12-31'
                    this.requestItem.period = '0'
                } else {
                    this.requestItem.periodType = false;
                    this.requestItem.period = '1'
                    this.expDateCompute()
                }
            },

            periodSelected () {
                this.requestItem.type = '기간'
                this.expDateCompute()
            },

            stDateSelected () {
                this.menu = false
                this.expDateCompute()
            },

            expDateCompute () {
                this.requestItem.expDate = this.getTimeStamp(this.requestItem.stDate, this.requestItem.period)
            },

            close () {
                setTimeout(() => {
                    this.clear()
                }, 100)
                this.pressRequestButton(false);
            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            },

            clear () {
                this.$v.$reset()
                this.requestItem = this.cloneObject(this.defaultItem)
                this.search = ''
                this.e1 = 1
            },

            save () {
                this.requestItem.status = '정상'
                this.requestItem.processStatus = '없음'
                this.requestItem.flag = 'Y'
                this.requestItem.licenseKey = 'Okestro!@'

                if (this.requestItem.type === '기간') {
                    this.periodSelected()
                }

                axios.get(`/api/product/${this.requestItem.product.name}`)
                    .then(response => {
                        this.requestItem.product.versions = response.data.versions
                        axios.post(`/api/license/admin/issue`, this.requestItem)
                            .then(() => {
                                this.openAlertBox([
                                    'success',
                                    '발급 완료',
                                ]);
                                this.pushRequesting(false)
                                this.close()
                            })
                            .catch(error => {
                                this.openAlertBox([
                                    'error',
                                    error.response.data.message
                                ])
                                this.pushRequesting(false)
                                this.close()
                            });

                    })
                    .catch(error => {

                    })

            },

            setClientName (item) {
                this.requestItem.client = item
            },

            setUserName (item) {
                this.requestItem.user = item
            },

            getClientList () {
                axios.get(`/api/client`)
                    .then(response => {
                        this.items = response.data
                    })
                    .catch(error => {
                    })
            },

            getUserList () {
                axios.get(`/api/user/admin`)
                    .then(response => {
                        this.userList = response.data
                    })
                    .catch(error => {
                    })
            },

            getProductList () {
                axios.get(`/api/product`)
                    .then(response => {
                        this.productList = response.data
                        this.productList.forEach(i => {
                            let list = []
                            i.versions.forEach(j => {
                                list.push(j.version)
                            })
                            this.productVersionList[i.name] = list
                        })
                    })
                    .catch(error => {
                    })
            },

            createClient () {
                this.pressCreateButton(true);
                this.pushCreating(true)
            },

            getTimeStamp (startDate, period) {
                let d = new Date(startDate)
                let s =
                    this.leadingZeros(d.getFullYear() + parseInt(period), 4) + '-' +
                    this.leadingZeros(d.getMonth() + 1, 2) + '-' +
                    this.leadingZeros(d.getDate(), 2)

                return s;
            },

            getWorldTime(tzOffset) { // 24시간제
                var now = new Date();
                var tz = now.getTime() + (now.getTimezoneOffset() * 60000) + (tzOffset * 3600000);
                now.setTime(tz);


                var s =
                    this.leadingZeros(now.getFullYear(), 4) + '-' +
                    this.leadingZeros(now.getMonth() + 1, 2) + '-' +
                    this.leadingZeros(now.getDate(), 2)

                return s;
            },

            leadingZeros (n, digits) {
                let zero = '';
                n = n.toString();

                if (n.length < digits) {
                    for (let i = 0; i < digits - n.length; i++)
                        zero += '0';
                }
                return zero + n;
            }
        },

        watch: {
            isCreating (val) {
                if (!val) {
                    this.getClientList();
                }
            },
        }
    }
</script>

<style scoped>

</style>