<template>
    <v-dialog
            v-model="editDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent

    >
        <v-card>
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="editClose">mdi-close</v-icon>
            </v-system-bar>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-select
                                    :items="['정상', '폐기', '만료', '예약']"
                                    v-model="clickedItem.status"
                                    label="상태"
                                    required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-select
                                    :items="clientNameList"
                                    v-model="clickedItem.client.name"
                                    label="고객사"
                                    required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-select
                                    :items="['기간', '영구']"
                                    v-model="clickedItem.type"
                                    label="구분"
                                    required
                                    @change="typeSelected"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="3">
                            <v-text-field
                                    v-model="clickedItem.model"
                                    label="모델"
                                    required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                    v-model="clickedItem.partNo"
                                    label="파트번호"
                                    required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="3">
                            <v-text-field
                                    v-model="clickedItem.hostCount"
                                    label="호스트 수"
                                    required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-menu
                                    v-model="menu"
                                    transition="scale-transition"
                                    offset-y
                                    :close-on-content-click="false"
                                    :nudge-right="80"
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="clickedItem.expDate"
                                            label="만료일자"
                                            prepend-icon="event"
                                            required
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="clickedItem.expDate" @input="expDateSelected"></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" sm="6" md="2">
                            <v-select
                                    :items="['Y', 'N']"
                                    v-model="clickedItem.flag"
                                    label="사용여부"
                                    required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="editClose">취소</v-btn>
                <v-btn color="blue darken-1" dark @click="save">저장</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import DialogMixin from '../../../mixins/dialogMixin'
    import { mapState } from 'vuex'
    import axios from 'axios'

    export default {
        name: "EditLicenseDialog",
        data () {
            return {
                clickedItem: {
                    id: 0,
                    regDate: '',
                    expDate: '',
                    type: '',
                    model:'',
                    partNo:'',
                    hostCount:'',
                    productVersion: '',
                    client: {
                        id: 0,
                        name: '',
                    },
                    product: {
                        id: 0,
                        name: '',
                    },
                    user: {
                        id: '',
                        username: '',
                        role:[],
                    }
                },
                defaultItem: {
                    id: 0,
                    regDate: '',
                    expDate: '',
                    type: '',
                    model:'',
                    partNo:'',
                    hostCount:'',
                    productVersion: '',
                    client: {
                        id: 0,
                        name: '',
                    },
                    product: {
                        id: 0,
                        name: '',
                    },
                    user: {
                        id: '',
                        username: '',
                        role:[],
                    }
                },
                menu: false,
                savedExpDate: '',
                productList: [],
                productVersionList: []
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '수정'
            },
            maxWidth: {
                type: Number,
                default: 500
            }
        },

        mixins: [
            DialogMixin
        ],

        computed: {
            ...mapState(['editDialog', 'item', 'idList', 'userIdList', 'productNameList', 'clientNameList']),
        },

        created () {
            this.getProductList()
        },

        methods: {
            expDateSelected() {
                this.menu = false
            },

            save () {
                this.clickedItem.user = null
                this.clickedItem.product = null
                axios.put(`/api/license/admin/${this.clickedItem.id}`, this.clickedItem)
                    .then(() => {
                        this.openAlertBox([
                            'success',
                            '수정 완료'
                        ]);
                        this.pushEditting(false)
                        this.editClose()
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    });
            },
            
            typeSelected() {
                if (this.clickedItem.type == '영구') {
                    this.savedExpDate = this.clickedItem.expDate
                    this.clickedItem.expDate = '2999-12-31'
                }
                else {
                    this.clickedItem.expDate = this.savedExpDate
                }
            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            },

            getProductList () {
                axios.get(`/api/product`)
                    .then(response => {
                        this.productList = response.data
                        this.productList.forEach(i => {
                            let list = []
                            i.versions.forEach(j => {
                                list.push(j.version)
                            })
                            this.productVersionList[i.name] = list
                        })
                    })
                    .catch(error => {
                    })
            },
        },

        watch: {
            editDialog (val) {
                if (val) {
                    this.clickedItem = this.cloneObject(this.item)
                    this.savedExpDate = Object.assign({}, this.item.expDate)
                }
            }
        }
    }
</script>

<style scoped>

</style>