<template>
      <v-btn
        :class="noMargin ? '' : ''"
        :icon="isIcon"
        :fab="fab"
        :dark="dark"
        :x-small="xSmall"
        :small="small"
        :large="large"
        :x-large="xLarge"
        :color="color"
        @click="emitClick()"
      >
        <v-icon
          :dark="dark"
          v-if="icon"
        >{{ icon }}</v-icon>
        <template v-if="text">{{ text }}</template>
      </v-btn>
</template>

<script>
export default {
  props: {
    xSmall: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
    large: {
      type: Boolean,
      default: false,
    },
    xLarge: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    fab: {
      type: Boolean,
      default: false,
    },
    isIcon: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'primary',
    },
    tooltip: {
      type: String,
    },
    icon: {
      type: String,
    },
    text: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    active: {
      type: Boolean,
      default: false,
    },
    noMargin: {
      type: Boolean,
      default: false,
    },
    flat: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    emitClick () {
      this.$emit('clicked')
    },
  },
}
</script>
