<template>
    <v-dialog
            v-model="requestProcessDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-system-bar window color="grey lighten-4">
            <span>{{ requestProcess }} 확인</span>
            <v-spacer></v-spacer>
            <v-icon @click="close">mdi-close</v-icon>
        </v-system-bar>
        <v-card flat
                tile>
            <v-container>
                <v-card-text>
                    요청을 {{ requestProcess }} 하시겠습니까?
                </v-card-text>
            </v-container>
            <v-card-actions>
                <v-btn class="elevation-2" text @click="close">취소</v-btn>
                <v-spacer></v-spacer>
                <v-btn class="elevation-2" color="primary darken-1" dark @click="confirm"
                       @keydown.enter="confirm">확인</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import axios from 'axios'

    export default {
        name: "RequestProcessDialog",
        data () {
            return {
                clickedItem: {
                    id: '',
                    password: '',
                    username: '',
                    phone: '',
                    email: '',
                    reg_date: '',
                    role: '',
                    status: '',
                    processStatus: '',
                },
                defaultItem: {
                    id: '',
                    password: '',
                    username: '',
                    phone: '',
                    email: '',
                    reg_date: '',
                    role: '',
                    status: '',
                    processStatus: '',
                },
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '요청 정보'
            },
            maxWidth: {
                type: Number,
                default: 300
            },
            tableName: {
                type: String
            }
        },

        computed: {
            ...mapState(['requestProcessDialog', 'item', 'requestProcess']),
        },

        methods: {
            ...mapActions(['pressRequestProcessButton', 'pushRequestProcessing', 'openAlertBox']),

            close () {
                this.pressRequestProcessButton(false)
            },

            reject () {
                axios.post(`/api/user/admin/reject`, this.clickedItem)
                    .then(() => {
                        this.openAlertBox([
                            'success',
                            '반려 처리 완료',
                        ]);
                        this.pushRequestProcessing(false)
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    });

                this.close()
            },

            accept () {
                axios.post(`/api/user/admin/accept`, this.clickedItem)
                    .then(() => {
                        this.openAlertBox([
                            'success',
                            '승인 처리 완료',
                        ]);
                        this.pushRequestProcessing(false)
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    });

                this.close()
            },

            confirm () {
                if (this.requestProcess === '승인') {
                    this.accept()
                }
                else if (this.requestProcess === '반려') {
                    this.reject()
                }
            },

        },

        watch: {

            requestProcessDialog (val) {
                if (val) {
                    this.clickedItem = Object.assign({}, this.item)
                }
            }
        }
    }
</script>

<style scoped>

</style>