<template>
    <v-dialog
            v-model="showRequestDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-system-bar window color="grey lighten-4">
            <span>요청 정보</span>
            <v-spacer></v-spacer>
                <v-icon @click="close">mdi-close</v-icon>
        </v-system-bar>
        <v-card flat
                tile>
            <v-list dense>
                <v-list-item>
                    <v-list-item-content>제품 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.product.name }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>버전 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.productVersion }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>라이센스 키 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.licenseKey }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>시작일자 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.stDate }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>만료일자 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.expDate }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>호스트 수 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.hostCount }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>모델 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.model }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>파트번호 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.partNo }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>고객사명 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.client.name }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>고객 분류 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.type }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>고객 코드 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.client.code }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>프로젝트 정보</v-list-item-content>
                </v-list-item>
                <v-list-group>
                    <v-list-item>
                        <v-list-item-content>프로젝트명 :</v-list-item-content>
                        <v-list-item-content class="align-end">{{ clickedItem.projectName }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>담당자명 :</v-list-item-content>
                        <v-list-item-content class="align-end">{{ clickedItem.projectAdminName }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>담당자 전화번호 :</v-list-item-content>
                        <v-list-item-content class="align-end">{{ clickedItem.projectAdminPhone }}</v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>담당자 이메일 :</v-list-item-content>
                        <v-list-item-content class="align-end">{{ clickedItem.projectAdminEmail }}</v-list-item-content>
                    </v-list-item>
                </v-list-group>
                <v-list-item>
                    <v-list-item-content>사용자 ID :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.user.id }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>사용자명 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.user.username }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>요청일시 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.regDate }}</v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>상태 :</v-list-item-content>
                    <v-list-item-content class="align-end">{{ clickedItem.status }}</v-list-item-content>
                </v-list-item>
            </v-list>

            <v-card-actions>
                <v-btn color="red darken-1" dark @click="reject">반려</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-1" dark @click="accept">승인</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RequestMixin from '@/components/mixins/requestMixin'
    import { mapState, mapActions } from 'vuex'
    import axios from 'axios'
    export default {
        name: "ShowLicenseRequest",
        data () {
            return {
                clickedItem: {
                    status: '',
                    processStatus: '',
                    licenseKey: '',
                    regDate: '',
                    expDate: '',
                    type: '',
                    projectName: '',
                    projectAdminName: '',
                    projectAdminPhone: '',
                    projectAdminEmail: '',
                    flag: '',
                    hostCount: 0,
                    user: {
                        id: '',
                    },
                    client: {
                        id: '',
                        name: '',
                        ename: '',
                        phone: '',
                        email: '',
                        category: '',
                        regDate: '',
                        flag: '',
                    },
                    product: {
                        name: '',
                    },
                    period: '0',
                    periodType: false,
                },
                defaultItem: {
                    status: '',
                    processStatus: '',
                    licenseKey: '',
                    regDate: '',
                    expDate: '',
                    type: '',
                    projectName: '',
                    projectAdminName: '',
                    projectAdminPhone: '',
                    projectAdminEmail: '',
                    flag: '',
                    hostCount: 0,
                    user: {
                        id: '',
                    },
                    client: {
                        id: '',
                        name: '',
                        ename: '',
                        phone: '',
                        email: '',
                        category: '',
                        regDate: '',
                        flag: '',
                    },
                    product: {
                        name: '',
                    },
                    period: '0',
                    periodType: false,
                },
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '수정'
            },
            maxWidth: {
                type: Number,
                default: 500
            },
            tableName: {
                type: String
            }
        },

        mixins: [
            RequestMixin
        ],

        computed: {
            ...mapState(['showRequestDialog', 'item']),
        },

        methods: {
            ...mapActions(['pressShowRequestButton', 'pushRequestProcessing']),

        },

        watch: {

            showRequestDialog (val) {
                if (val) {
                    axios.get(`/api/license/admin/${ this.item.id }`)
                        .then(response => {
                            this.clickedItem = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>