<template>
    <v-dialog
            v-model="adminPasswordDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
            scrollable
    >
        <v-flex>
            <v-card
                    flat
            >
                <v-system-bar window color="grey lighten-4">
                    <span>{{ dialogTitle }}</span>
                    <v-spacer></v-spacer>
                    <v-icon @click="close">mdi-close</v-icon>
                </v-system-bar>
                <v-card-text>
                    <v-row align="center">
                        <v-col cols="12" sm="6" md="10" lg="10">
                            <v-text-field
                                    v-model="passwordItem.password"
                                    label="새 비밀번호*"
                                    required
                                    prepend-icon="mdi-lock"
                                    counter
                                    outlined
                                    placeholder=" "
                                    type="password"
                                    :error-messages="passwordErrors"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="10" lg="10">
                            <v-text-field
                                    v-model="passwordItem.confirmPassword"
                                    label="새 비밀번호 확인*"
                                    required
                                    outlined
                                    placeholder=" "
                                    prepend-icon="mdi-lock"
                                    counter
                                    type="password"
                                    @change="$v.passwordItem.confirmPassword.$touch()"
                                    @keydown.enter="submit"
                                    :error-messages="confirmPasswordErrors"
                            ></v-text-field>
                        </v-col>

                    </v-row>

                    <v-col align="right">
                        <v-btn color="indigo" dark @click="submit">변경</v-btn>
                    </v-col>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-dialog>
</template>

<script>
    import CrudButton from '../../../button/Button'
    import { mapState, mapActions } from 'vuex'
    import { required, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'
    import axios from 'axios'

    export default {
        name: 'AdminPasswordDialog',
        data() {
            return {
                passwordItem: {
                    id: '',
                    password: '',
                    confirmPassword: '',
                },
                defaultItem: {
                    id: '',
                    password: '',
                    confirmPassword: '',
                },
            }
        },

        props: {
            tableName: {
                type: String,
                default: ''
            },
            dialogTitle: {
                type: String,
                default: '비밀번호 변경'
            },
            maxWidth: {
                type: Number,
                default: 300
            }
        },

        validations: {
            passwordItem: {
                password: { required, minLength: minLength(8), maxLength: maxLength(20) },
                confirmPassword: { required, sameAsPassword: sameAs('password') },
            },
        },

        created() {
            this.getUserInfo()
        },

        computed: {
            ...mapState(['dataList', 'userInfo', 'adminPasswordDialog']),
            passwordErrors () {
                const errors = []
                if (!this.$v.passwordItem.password.$dirty) return errors
                !this.$v.passwordItem.password.maxLength && errors.push('비밀번호는 최대 20글자까지 가능합니다')
                !this.$v.passwordItem.password.minLength && errors.push('비밀번호는 최소 8글자부터 가능합니다')
                !this.$v.passwordItem.password.required && errors.push('비밀번호는 필수 입력입니다')
                return errors
            },
            confirmPasswordErrors () {
                const errors = []
                if (!this.$v.passwordItem.confirmPassword.$dirty) return errors
                !this.$v.passwordItem.confirmPassword.sameAsPassword && errors.push('동일한 비밀번호가 아닙니다')
                !this.$v.passwordItem.confirmPassword.required && errors.push('비밀번호는 필수 입력입니다')
                return errors
            },
        },

        mixins: [
            validationMixin
        ],

        components: {
            'CrudButton': CrudButton,
        },

        methods: {
            ...mapActions(
                [
                    'getDataList',
                    'getUserInfo',
                    'pressAdminPasswordButton',
                    'openAlertBox',
                ]),

            submit () {
                // stop here if form is invalid
                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }

                this.save()
            },

            save () {
                axios.put(`/api/user/${ this.passwordItem.id }`, this.passwordItem)
                    .then(() => {
                        this.openAlertBox([
                            'success',
                            '비밀번호 변경 완료'
                        ])
                        this.close()
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ])
                    })
            },

            close () {
                this.pressAdminPasswordButton(false)

                this.$v.$reset()
                setTimeout(() => {
                    this.passwordItem = Object.assign({}, this.defaultItem);
                }, 200)

            }
        },

        watch: {
            adminPasswordDialog (val) {
                if (val) {
                    this.passwordItem = this.userInfo
                    this.passwordItem.password = ''
                }
            }
        }


    }
</script>

<style>
</style>