<template>
  <v-flex>
    <!-- CRUD Table -->
    <crud-table
            :tableName="tableName"
            :headers="headers"
    ></crud-table>

    <!-- Create Dialog -->
    <create-dialog
            :max-width="width"
            :dialog-title="createDialogTitle"
    ></create-dialog>

    <!-- Edit Dialog -->
    <edit-dialog
            :max-width="width"
            :dialog-title="editDialogTitle"
    ></edit-dialog>
    <show-license-dialog
            :max-width="showLicenseWidth"
            :dialog-title="showLicenseDialogTitle"
    ></show-license-dialog>
    <!-- Alert Box -->
    <alert-box></alert-box>

  </v-flex>
</template>

<script>
  import CrudTable from '@/components/tables/Admin/CrudTable'
  import AlertBox from '@/components/dialog/AlertBox'
  import CreateDialog from '@/components/dialog/Admin/license/CreateLicenseDialog'
  import EditDialog from '@/components/dialog/Admin/license/EditLicenseDialog'
  import ShowLicenseDialog from "@/components/dialog/User/license/ShowLicenseFile"

  export default {
    name: 'License',
    data() {
      return {
        tableName: 'license/admin',
        headers: [
          {text: '상태',     align: 'left',   value: 'state'},
          {text: '발급고객', align: 'left', value: 'client.name'},
          {text: '사용자ID', align: 'left', value: 'user.id'},
          {text: '제품', align: 'left', value: 'product.name'},
          // {text: '등록일시', align: 'left', value: 'regDate'},
          {text: '모델', align: 'left', value: 'model'},
          {text: '파트번호', align: 'left', value: 'partNo'},
          {text: '호스트 수', align: 'left', value: 'hostCount'},
          {text: '시작일자', align: 'left', value: 'stDate'},
          {text: '만료일자', align: 'left', value: 'expDate'},
          {text: '구분', align: 'left', value: 'type'},
          {text: '편집', align: 'center', value: 'action', sortable: false}],
        width: 500,
        showLicenseWidth: 550,
        createDialogTitle: '라이센스 발급',
        editDialogTitle: '라이센스 수정',
        showLicenseDialogTitle: '라이센스 보기',
      }
    },
    created() {
    },
    components: {
      'CrudTable' : CrudTable,
      'CreateDialog' : CreateDialog,
      'EditDialog' : EditDialog,
      'ShowLicenseDialog' : ShowLicenseDialog,
      'AlertBox' : AlertBox
    },
    methods: {
    },
  }
</script>

<style>
</style>