<template>
  <v-flex>
    <!-- CRUD Table -->
    <history-table
            :tableName="tableName"
            :headers="headers"
            :dense="dense"
    ></history-table>
    <!-- Request Show Dialog -->
    <license-history-dialog
            :max-width="width"
            :dialog-title="DialogTitle"
    ></license-history-dialog>

    <!-- Alert Box -->
    <alert-box></alert-box>

  </v-flex>
</template>

<script>
  import HistoryTable from '@/components/tables/Admin/HistoryTable'
  import LicenseHistoryDialog from '@/components/dialog/Admin/license/Requests/ShowLicenseHistory'
  import AlertBox from '@/components/dialog/AlertBox'

  export default {
    name: 'rejectedRequests',
    data() {
      return {
        tableName: 'license/admin/history/process/반려',
        dense: true,
        pagination: {
          descending: true,
          page: 1,
          itemsPerPage: 20,
          totalItems: 0,
          pageCount: 0,
        },
        headers: [
          {text: '요청분류', align: 'center', value: 'state', sortable: false},
          {text: '사용자ID', align: 'left', value: 'userId'},
          {text: '사용자명', align: 'left', value: 'userName'},
          {text: '발급고객', align: 'left', value: 'clientName'},
          {text: '제품', align: 'left', value: 'productName'},
          {text: '만료일자', align: 'left', value: 'expDate'},
          {text: '구분', align: 'left', value: 'type'},
          {text: '요청일시', align: 'left', value: 'reqDate'},
          {text: '처리일시', align: 'left', value: 'regDate'},
          {text: '보기', align: 'center', value: 'action', sortable: false}],
        width: 500,
        DialogTitle: '요청 세부 정보',
      }
    },
    created() {
    },
    components: {
      'HistoryTable' : HistoryTable,
      'AlertBox' : AlertBox,
      'LicenseHistoryDialog' : LicenseHistoryDialog
    },
    methods: {
    },
  }
</script>

<style>
</style>