<template>
  <v-flex>
    <!-- CRUD Table -->
    <request-table
            :tableName="tableName"
            :headers="headers"
            :dense="dense"
    ></request-table>
    <!-- Request Show Dialog -->
    <license-request-dialog
            :max-width="width"
            :dialog-title="dialogTitle"
    ></license-request-dialog>

    <!-- Alert Box -->
    <alert-box></alert-box>

  </v-flex>
</template>

<script>
  import RequestTable from '@/components/tables/Admin/RequestTable'
  import LicenseRequestDialog from '@/components/dialog/Admin/license/Requests/ShowLicenseRequest'
  import AlertBox from '@/components/dialog/AlertBox'

  export default {
    name: 'unapprovedRequests',
    data() {
      return {
        tableName: 'license/admin/process/미승인',
        dense: true,
        headers: [
          {text: '요청분류', align: 'center', value: 'state', sortable: false},
          {text: '사용자ID', align: 'left', value: 'user.id'},
          {text: '사용자명', align: 'left', value: 'user.username'},
          {text: '발급고객', align: 'left', value: 'client.name'},
          {text: '제품', align: 'left', value: 'product.name'},
          {text: '시작일자', align: 'left', value: 'stDate'},
          {text: '만료일자', align: 'left', value: 'expDate'},
          {text: '구분', align: 'left', value: 'type'},
          {text: '요청일시', align: 'left', value: 'regDate'},
          {text: '처리', align: 'center', value: 'action', sortable: false}],
        width: 500,
        dialogTitle: '요청 세부 정보',
      }
    },
    created() {
    },
    components: {
      'RequestTable' : RequestTable,
      'AlertBox' : AlertBox,
      'LicenseRequestDialog' : LicenseRequestDialog
    },
    methods: {
    },
  }
</script>

<style>
</style>