<template>
  <v-flex>
    <user-password-form
            :tableName="tableName"
    >
    </user-password-form>
    <user-password-dialog>
            :dialog-title="userPasswordDialogTitle"
    </user-password-dialog>
    <!-- Alert Box -->
    <alert-box></alert-box>
  </v-flex>
</template>

<script>
  import UserPasswordForm from '@/components/tables/User/UserPasswordForm'
  import UserPasswordDialog from '@/components/dialog/User/info/UserPasswordChangeDialog'
  import AlertBox from '@/components/dialog/AlertBox'


  export default {
    name: 'UserPassword',

    data() {
      return {
        tableName: 'user',
        userPasswordDialogTitle: '비밀번호 변경'
      }
    },

    created() {
    },

    components: {
      'UserPasswordForm' : UserPasswordForm,
      'UserPasswordDialog' : UserPasswordDialog,
      'AlertBox' : AlertBox
    },

    methods: {
    },
  }
</script>

<style>
</style>