<template>
  <v-flex>
    <!-- CRUD Table -->
    <crud-table
            :tableName="tableName"
            :headers="headers"
    ></crud-table>

    <!-- Create Dialog -->
    <request-dialog
            :max-width="width"
            :dialog-title="requestDialogTitle"
            :table-name="tableName"
    ></request-dialog>
    <!-- Edit Dialog -->
    <update-dialog
            :max-width="editWidth"
            :dialog-title="editDialogTitle"
    ></update-dialog>
    <show-license-dialog
            :max-width="showLicenseWidth"
            :dialog-title="showLicenseDialogTitle"
    ></show-license-dialog>
    <show-license-history-dialog
            :max-width="historyWidth"
            :dialog-title="historyDialogTitle"
    ></show-license-history-dialog>
    <!-- Alert Box -->
    <alert-box></alert-box>

    <!-- Create Dialog -->
    <create-client-dialog
            :max-width="width"
            :dialog-title="createDialogTitle"
    ></create-client-dialog>
  </v-flex>
</template>

<script>
  import CrudTable from '@/components/tables/User/UserLicenseTable'
  import AlertBox from '@/components/dialog/AlertBox'
  import RequestDialog from '@/components/dialog/User/license/RequestLicenseDialog'
  import UpdateDialog from "@/components/dialog/User/license/UpdateLicenseDialog"
  import ShowLicenseDialog from "@/components/dialog/User/license/ShowLicenseFile"
  import CreateClientDialog from '@/components/dialog/Admin/client/CreateClientDialog'
  import ShowLicenseHistoryDialog from '@/components/dialog/User/license/ShowLicenseHistory'

  export default {
    name: 'LicenseUser',
    data() {
      return {
        tableName: 'license/user',
        pagination: {
          descending: true,
          page: 1,
          itemsPerPage: 5,
          totalItems: 0,
          pageCount: 0,
        },
        headers: [
          {text: '상태', align: 'center', value: 'state', sortable: false},
          {text: '고객코드', align: 'left', value: 'client.code'},
          {text: '고객사명', align: 'left', value: 'client.name'},
          {text: '프로젝트', align: 'left', value: 'project'},
          {text: '제품', align: 'left', value: 'product.name'},
          {text: '제품버전', align: 'left', value: 'productVersion'},
          {text: '시작 일자', align: 'left', value: 'stDate'},
          {text: '만료 일자', align: 'left', value: 'expDate'},
          {text: '구분', align: 'left', value: 'type'},
          {text: '액션', align: 'center', value: 'action', sortable: false},
          ],
        width: 600,
        editWidth: 500,
        showLicenseWidth: 550,
        historyWidth: 1500,
        requestDialogTitle: '라이센스 발급',
        createDialogTitle: '고객사 추가',
        editDialogTitle: '라이센스 갱신',
        showLicenseDialogTitle: '라이센스 보기',
        historyDialogTitle: '라이센스 히스토리'
      }
    },
    created() {
    },
    components: {
      'CrudTable' : CrudTable,
      'RequestDialog' : RequestDialog,
      'UpdateDialog' : UpdateDialog,
      'CreateClientDialog' : CreateClientDialog,
      'ShowLicenseDialog' : ShowLicenseDialog,
      'ShowLicenseHistoryDialog' : ShowLicenseHistoryDialog,
      'AlertBox' : AlertBox
    },
    methods: {
    },
  }
</script>

<style>
</style>