<template>
  <v-flex>
    <user-info-form
            :tableName="tableName"
    >
    </user-info-form>

    <!-- Alert Box -->
    <alert-box></alert-box>
  </v-flex>
</template>

<script>
  import UserInfoForm from '@/components/tables/User/UserInfoForm'
  import AlertBox from '@/components/dialog/AlertBox'


  export default {
    name: 'UserInfo',

    data() {
      return {
        tableName: 'user',
      }
    },

    created() {
    },

    components: {
      'UserInfoForm' : UserInfoForm,
      'AlertBox' : AlertBox
    },

    methods: {
    },
  }
</script>

<style>
</style>