<template>
     <v-dialog
            v-model="createDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
     >
        <v-card>
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="createClose">mdi-close</v-icon>
            </v-system-bar>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="7">
                                <v-text-field v-model="createItem.name" label="제품명"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="7">
                                <v-text-field v-model="createItem.latest_version" label="제품 버전"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-row>
                </v-container>
                <small>* 필수 입력 항목</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="createClose">취소</v-btn>
                <v-btn color="blue darken-1" dark @click="save">등록</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import DialogMixin from '../../../mixins/dialogMixin'
    import { mapState } from 'vuex'

    export default {
        name: 'CreateProductDialog',
        data() {
            return {
                createItem: {
                    name: '',
                    latest_version: '',
                },
                defaultItem: {
                    name: '',
                    latest_version: '',
                },
            }
        },

        mixins: [
            DialogMixin
        ],

        props: {
            dialogTitle: {
                type: String,
                default: '생성'
            },
            maxWidth: {
                type: Number,
                default: 600
            }
        },

        computed: {
            ...mapState(['createDialog'])
        },

        methods: {
            save () {
                this.createSave('product', '', '', 0)
            },

        }
    }
</script>

<style scoped>

</style>