<template>
    <v-dialog
            v-model="editDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-card>
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="editClose">mdi-close</v-icon>
            </v-system-bar>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="7">
                            <v-text-field v-model="clickedItem.name" label="제품명"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="7">
                            <v-select
                                    :items="productVersionList[clickedItem.name]"
                                    v-model="clickedItem.latestVersion"
                                    label="제품 버전*"
                                    required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="editClose">취소</v-btn>
                <v-btn color="blue darken-1" dark @click="save">저장</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import DialogMixin from '../../../mixins/dialogMixin'
    import { mapState } from 'vuex'
    import axios from 'axios'

    export default {
        name: "EditProductDialog",
        data () {
            return {
                clickedItem: {
                    id: '',
                    name: '',
                    latestVersion: '',
                },
                defaultItem: {
                    id: '',
                    name: '',
                    latestVersion: '',
                },
                productList: [],
                productVersionList: [],
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '수정'
            },
            maxWidth: {
                type: Number,
                default: 500
            }
        },

        mixins: [
            DialogMixin
        ],

        computed: {
            ...mapState(['editDialog', 'item']),
        },

        created () {
            this.getProductList()
        },

        methods: {

            save () {
                this.editSave('product', '', 0)
            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            },

            getProductList () {
                axios.get(`/api/product`)
                    .then(response => {
                        this.productList = response.data
                        this.productList.forEach(i => {
                            let list = []
                            i.versions.forEach(j => {
                                list.push(j.version)
                            })
                            this.productVersionList[i.name] = list
                        })
                    })
                    .catch(error => {
                    })
            },
        },

        watch: {
            editDialog (val) {
                if (val) {
                    this.clickedItem = this.cloneObject(this.item)
                }
            }
        }
    }
</script>

<style scoped>

</style>