<template>
    <v-dialog
            v-model="createDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-card
        >
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="close">mdi-close</v-icon>
            </v-system-bar>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="7">
                            <v-text-field
                                    v-model="createItem.id"
                                    label="ID*"
                                    counter
                                    :hint="idHint"
                                    required
                                    prepend-icon="person"
                                    @input="typingCheck"
                                    @change="valueCheck"
                                    :error-messages="idErrors"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                class="pt-6">
                            <v-btn
                                    depressed
                                    :disabled="idDisabled"
                                    @click="duplicationCheck"
                            >
                                중복체크
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-icon
                                    v-if="duplicationChecked"
                                    large
                                    class="pt-3"
                                    color="green accent-3"
                            >mdi-check-circle-outline</v-icon>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field
                                    v-model="createItem.password"
                                    label="비밀번호*"
                                    required
                                    :hint="pwHint"
                                    prepend-icon="mdi-lock"
                                    counter
                                    type="password"
                                    :error-messages="passwordErrors"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field
                                    v-model="createItem.confirmPassword"
                                    label="비밀번호 확인*"
                                    required
                                    prepend-icon="mdi-lock"
                                    counter
                                    type="password"
                                    :error-messages="confirmPasswordErrors"
                                    @change="$v.createItem.confirmPassword.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field
                                    v-model="createItem.username"
                                    label="회사 이름*"
                                    required
                                    :hint="nameHint"
                                    prepend-icon="business"
                                    :error-messages="nameErrors"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="10"
                               class="ml-md">
                            <v-text-field
                                    v-model="createItem.phone"
                                    label="전화번호* (' - ' 포함)"
                                    prepend-icon="call"
                                    :hint="phoneHint"
                                    required
                                    :error-messages="phoneErrors"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="10">
                            <v-text-field
                                    v-model="createItem.email"
                                    label="이메일*"
                                    required
                                    :hint="emailHint"
                                    prepend-icon="email"
                                    @keydown.enter="submit"
                                    :error-messages="emailErrors"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-col align="center">
                    <v-btn color="indigo" dark @click="submit">확인</v-btn>
                </v-col>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    import axios from 'axios'
    import { required, email, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'
    import { validationMixin } from 'vuelidate'

    const isPhone = (value) => /^\d{3}-\d{3,4}-\d{4}$/.test(value)
    const isId = (value) => /^[a-zA-Z0-9\s]*$/.test(value)

    export default {
        name: 'CreateUserDialog',
        data() {
            return {
                createItem: {
                    id: '',
                    password: '',
                    confirmPassword: '',
                    username: '',
                    phone: '',
                    email: '',
                },
                defaultItem: {
                    id: '',
                    password: '',
                    confirmPassword: '',
                    name: '',
                    phone: '',
                    email: '',
                },
                isDuplication: false,
                duplicationChecked: false,
                idDisabled: false,
                idHint:'최소4자 최대20자까지 가능합니다',
                pwHint:'최소8자 최대20자까지 가능합니다',
                nameHint:'최대30자까지 가능합니다',
                phoneHint:'- 를 포함하여 입력해주세요',
                emailHint:'ex) sychoi@okestro.com',
            }
        },

        mixins: [
            validationMixin
        ],

        props: {
            dialogTitle: {
                type: String,
                default: '발급'
            },
            maxWidth: {
                type: Number,
                default: 600
            }
        },

        validations: {
            createItem: {
                id: { required, minLength: minLength(4), maxLength: maxLength(20), isId },
                password: { required, minLength: minLength(8), maxLength: maxLength(20) },
                confirmPassword: { required, sameAsPassword: sameAs('password') },
                username: { required, maxLength: maxLength(30) },
                phone: { required, isPhone },
                email: { required, email },
            },
        },

        computed: {
            ...mapState(['createDialog']),

            idErrors () {
                const errors = [];
                if (!this.$v.createItem.id.$dirty) return errors;
                !this.$v.createItem.id.maxLength && errors.push('ID는 최대 20자까지 가능합니다');
                !this.$v.createItem.id.minLength && errors.push('ID는 최소 4자부터 가능합니다');
                !this.$v.createItem.id.required && errors.push('ID는 필수 입력입니다');
                !this.$v.createItem.id.isId && errors.push('영어, 숫자만 입력 가능합니다');
                this.isDuplication && errors.push('ID가 중복입니다');
                return errors
            },
            passwordErrors () {
                const errors = [];
                if (!this.$v.createItem.password.$dirty) return errors;
                !this.$v.createItem.password.maxLength && errors.push('비밀번호는 최대 20자까지 가능합니다');
                !this.$v.createItem.password.minLength && errors.push('비밀번호는 최소 8자부터 가능합니다');
                !this.$v.createItem.password.required && errors.push('비밀번호는 필수 입력입니다');
                return errors
            },
            confirmPasswordErrors () {
                const errors = [];
                if (!this.$v.createItem.confirmPassword.$dirty) return errors;
                !this.$v.createItem.confirmPassword.sameAsPassword && errors.push('동일한 비밀번호가 아닙니다');
                !this.$v.createItem.confirmPassword.required && errors.push('비밀번호는 필수 입력입니다');
                return errors
            },
            nameErrors () {
                const errors = [];
                if (!this.$v.createItem.username.$dirty) return errors;
                !this.$v.createItem.username.maxLength && errors.push('회사 이름은 최대 30글자까지 가능합니다');
                !this.$v.createItem.username.required && errors.push('회사 이름은 필수 입력입니다');
                return errors
            },
            emailErrors () {
                const errors = [];
                if (!this.$v.createItem.email.$dirty) return errors;
                !this.$v.createItem.email.required && errors.push('이메일은 필수 입력입니다');
                !this.$v.createItem.email.email && errors.push('이메일 형식이 아닙니다');
                return errors
            },
            phoneErrors () {
                const errors = [];
                if (!this.$v.createItem.phone.$dirty) return errors;
                !this.$v.createItem.phone.required && errors.push('전화번호는 필수 입력입니다');
                !this.$v.createItem.phone.isPhone && errors.push('전화번호 형식이 아닙니다')
                return errors
            },
        },

        methods: {
            ...mapActions(['pressCreateButton', 'pushCreating', 'openAlertBox']),

            submit () {
                if(!this.duplicationChecked) {
                    this.openAlertBox([
                        'warning',
                        '중복 체크를 해주시기 바랍니다'
                    ]);
                    return
                }

                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }
                this.save()
            },

            save() {
                this.createItem.status = '정상';
                this.createItem.processStatus = '없음';
                this.createItem.request = '';
                this.createItem.flag = 'Y';

                axios.post(`/api/user/admin`, this.createItem)
                    .then(() => {
                        this.openAlertBox([
                            'success',
                            '생성 완료'
                        ]);
                    })
                    .then(() => {
                        setTimeout(() => {
                            this.pushCreating(false)
                            this.close()
                        }, 1300)
                    })
                    .catch(error => {
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ]);
                    });

            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            },

            close () {
                this.pressCreateButton(false);
                this.clear()
            },

            clear () {
                this.$v.$reset();
                this.createItem = this.cloneObject(this.defaultItem)
                this.isDuplication = false
                this.duplicationChecked = false
                this.idDisabled = false
            },

            duplicationCheck () {
                this.$v.createItem.id.$touch()

                if( this.$v.createItem.id.$invalid) {
                    return
                }

                axios.get(`/signup/dupCheck/${this.createItem.id}`)
                    .then(response => {
                        this.duplicationChecked = true
                        this.openAlertBox([
                            'info',
                            response.data.message
                        ]);
                    })
                    .catch(error => {
                        this.isDuplication = true
                        this.duplicationChecked = false
                        this.openAlertBox([
                            'error',
                            error.response.data.message
                        ]);
                    })

            },

            valueCheck () {
                this.$v.createItem.id.$touch()
                if (this.$v.createItem.id.$invalid) {
                    this.idDisabled = true
                }
                else {
                    this.idDisabled = false
                }
            },

            typingCheck () {
                this.duplicationChecked = false
                this.idDisabled = false
                this.$v.createItem.id.$reset()
                this.isDuplication = false
            },
        }
    }
</script>

<style scoped>

</style>