<template>
    <v-dialog
            v-model="editDialog"
            :title="dialogTitle"
            :max-width="maxWidth"
            persistent
    >
        <v-card
                tile>
            <v-system-bar window color="grey lighten-4">
                <span>{{ dialogTitle }}</span>
                <v-spacer></v-spacer>
                <v-icon @click="editClose">mdi-close</v-icon>
            </v-system-bar>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field v-model="clickedItem.id" label="ID" disabled></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="7">
                            <v-text-field v-model="clickedItem.username" label="회사 이름"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="5">
                            <v-text-field v-model="clickedItem.phone" label="전화번호"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="8">
                            <v-text-field
                                    v-model="clickedItem.email"
                                    label="이메일"
                            >
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="2">
                            <v-select
                                    :items="['Y', 'N']"
                                    v-model="clickedItem.flag"
                                    label="사용여부"
                                    required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="editClose">취소</v-btn>
                <v-btn color="blue darken-1" dark @click="save">저장</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import DialogMixin from '../../../mixins/dialogMixin'
    import { mapState } from 'vuex'

    export default {
        name: "EditUserDialog",
        data () {
            return {
                clickedItem: {
                    id: '',
                    name: '',
                    phone: '',
                    email: '',
                    flag: ''
                },
                defaultItem: {
                    id: '',
                    name: '',
                    phone: '',
                    email: '',
                    flag: ''
                },
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '수정'
            },
            maxWidth: {
                type: Number,
                default: 500
            }
        },

        mixins: [
            DialogMixin
        ],

        computed: {
            ...mapState(['editDialog', 'item']),
        },

        methods: {

            save () {
                this.editSave('user', '', 0)
            },

            cloneObject(obj) {
                var clone = {}
                for(var i in obj) {
                    if (typeof(obj[i]) === 'object' && obj[i] != null) {
                        clone[i] = this.cloneObject(obj[i])
                    }
                    else {
                        clone[i] = obj[i]
                    }
                }
                return clone
            }
        },

        watch: {
            editDialog (val) {
                if (val) {
                    this.clickedItem = this.cloneObject(this.item)
                }
            }
        }
    }
</script>

<style scoped>

</style>