<template>
    <v-dialog
            v-model="showUserLicenseListDialog"
            :title="dialogTitle"
            persistent
    >
        <v-system-bar window color="grey lighten-4">
            <span>{{ dialogTitle }}</span>
            <v-spacer></v-spacer>
            <v-icon @click="close">mdi-close</v-icon>
        </v-system-bar>
        <v-card flat
                tile
                width="3000"
        >
            <v-data-table
                    :headers="licenseHeaders"
                    :items="licenseList"
                    :items-per-page="pagination.itemsPerPage"
                    :page.sync="pagination.page"
                    @page-count="pagination.pageCount = $event"
                    fixed-header
                    dense
                    hide-default-footer
            >
                <template v-slot:item.project="{ item }">
                    <v-menu
                            offset-y
                            bottom
                            nudge-left="50"
                            open-on-hover
                    >
                        <template v-slot:activator="{ on }">
                            <v-chip
                                    v-if="item.projectName != ''"
                                    v-on="on"
                                    small
                                    color="grey lighten-3"
                            >
                                {{ item.projectName }}
                            </v-chip>
                        </template>
                        <v-card width="300" style="font-size: 12px">
                            <v-list dark>
                                <v-list-item>
                                    <v-list-item-content>담당자 이름 :</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item.projectAdminName }}
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>담당자 번호 :</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item.projectAdminPhone }}
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>담당자 이메일 :</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ item.projectAdminEmail}}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-menu>
                </template>
                <template v-slot:item.action="{ item }">
                    <crud-button
                            small
                            color="blue darken-1"
                            @clicked="openLicense(item)"
                            icon="mdi-book-outline"
                            :isIcon="true"
                            :tooltip="'보기'"
                    />
                </template>
            </v-data-table>

        </v-card>
        <license-dialog></license-dialog>
    </v-dialog>
</template>

<script>
    import CrudButton from '@/components/button/Button'
    import LicenseDialog from '@/components/dialog/User/license/ShowLicenseFile'
    import { mapState, mapActions } from 'vuex'
    import axios from 'axios'
    import License from "@/views/admin/license/Licenses";
    export default {
        name: "ShowUserLicenseListDialog",
        data () {
            return {
                licenseList: [],
                pagination: {
                    descending: true,
                    page: 1,
                    itemsPerPage: 10,
                    totalItems: 0,
                    pageCount: 0,
                },
                licenseHeaders: [
                    {text: '상태', align: 'center', value: 'status', sortable: false},
                    {text: '고객코드', align: 'left', value: 'client.code'},
                    {text: '고객이름', align: 'left', value: 'client.name'},
                    {text: '프로젝트', align: 'left', value: 'project', sortable: false},
                    {text: '제품', align: 'left', value: 'product.name'},
                    {text: '버전', align: 'left', value: 'productVersion'},
                    {text: '구분', align: 'left', value: 'type'},
                    {text: '시작일자', align: 'left', value: 'stDate'},
                    {text: '만료일자', align: 'left', value: 'expDate'},
                    {text: '모델', align: 'left', value: 'model'},
                    {text: '파트번호', align: 'left', value: 'partNo'},
                    {text: '호스트 수', align: 'left', value: 'hostCount'},
                    {text: '보기', align: 'center', value: 'action', sortable: false},
                ]
            }
        },

        props: {
            dialogTitle: {
                type: String,
                default: '유저 라이센스 목록'
            },
            maxWidth: {
                type: Number,
                default: 1000
            },
            tableName: {
                type: String
            }
        },

        computed: {
            ...mapState(['showUserLicenseListDialog', 'secondItem']),
        },

        components: {
            License,
            'CrudButton' : CrudButton,
            'LicenseDialog' : LicenseDialog
        },

        methods: {
            ...mapActions(['pressUserLicenseListButton', 'pushShowUserLicenseList', 'pressShowLicenseButton', 'pushShowLicense', 'pushClickedItem']),

            close () {
                this.pressUserLicenseListButton(false);
                this.pushShowUserLicenseList(false);
                this.licenseList = []
            },

            openLicense(item) {
                this.pressShowLicenseButton(true);
                this.pushShowLicense(true);
                this.pushClickedItem(item)
            },
        },

        watch: {
            showUserLicenseListDialog (val) {
                if (val) {
                    axios.get(`/api/license/user/${ this.secondItem.id }`)
                        .then(response => {
                            this.licenseList = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>