<template>
    <v-content>
        <v-app
                id="board-view"
                dark>
            <core-toolbar />
            <core-drawer />
            <v-fade-transition mode="out-in">
                <router-view />
            </v-fade-transition>

            <core-footer v-if="$route.name !== 'Maps'" />

        </v-app>
    </v-content>
</template>

<style scoped>

</style>